<div class="">
  <p class="layr-price-p">Create the pillow of your dreams with LAYR, the world’s first fully customizable pillow. Adjustable to any firmness or height to accommodate all shapes, sizes, and sleeping positions. Patent pending.</p>
</div>