<div class="">
  <p class="layr-price-p">So sensationally soft, you’ll never want to take it off. Transform your home into a luxury retreat with this premium lounging essential. Perfect for days that require an extra layer of comfort and generously sized for all body types.</p>
</div>