<div class="about-us-grid-item">

  <a class="ancillary-products-section" href="{{ product_url }}">

    <div class="ancillary-bg-img lazyload" data-bgset="https:{{ product_img_name | asset_url }}"></div>
  </a>
  <p class="ancillary-p">{{ product_title }}</p>
  <a href="{{ product_url }}" class="about-us-shop-now">SHOP NOW</a>
</div>
