<h3>Our Products</h3>
<div class="about-us-grid">
  
  {% include 'ancillary-lower-product', 
  		product_url: '/products/bamboo-blanket', 
  		product_img_name: 'Ancillary-Products-LWB.png', 
  		product_title: 'Lightweight Blanket' 
  %}
  
   {% include 'ancillary-lower-product', 
  		product_url: '/products/weighted-blanket?variant=40256155779133', 
  		product_img_name: 'Ancillary-Products-COOL.png', 
  		product_title: 'Weighted Blanket' 
  %}
  
  {% include 'ancillary-lower-product', 
  		product_url: '/products/ultra-plush-throw?variant=39970670182461', 
  		product_img_name: 'Ancillary-Products-UPT.png', 
  		product_title: 'Ultra Plush Throw' 
  %}
  
  {% include 'ancillary-lower-product', 
  		product_url: '/products/bamboo-sheets?variant=31578516455485', 
  		product_img_name: 'Ancillary-Products-SHEETS.png', 
  		product_title: 'Luxury Sheet Set' 
  %}
  
  {% include 'ancillary-lower-product', 
  		product_url: '/products/layr-adjustable-pillow?variant=31902303125565', 
  		product_img_name: 'Ancillary-Products-LAYR.png', 
  		product_title: 'LAYR Customizable Pillow' 
  %}

  
  <div class="about-us-grid-item view-full-collection-link">
    <a href="/collections/all-luxome-products" class="about-us-vfc">VIEW FULL COLLECTION</a>
  </div>
  
</div>