<div class="home-luxome-review">  
  <div class="home-luxome-review-desktop">
    <div class="review-slide for-desktop review-slide-desktop">
      <h3>Yes! Love it! I'm getting the exact blanket as a gift for a loved one.<span class="product-review-name">-Jean H.</span></h3>
    </div>
    <div class="review-slide for-desktop review-slide-desktop">
      <h3>I have purchased a robe, sheets , and a blanket for my wife who has been delighted with each gift. Shipping was fast and well packaged. Great prices for beautiful luxurious products.<span class="product-review-name">-Dwight J.</span></h3>
    </div>
    <div class="review-slide for-desktop review-slide-desktop">
      <h3>I will never buy other sheets again! These will be my Christmas gift for everyone. Worth the money…just do it, hit purchase, you won’t regret it!.<span class="product-review-name">-Sherry B.</span></h3>
    </div>
    <div class="review-slide for-desktop review-slide-desktop">
      <h3>Gift-worthy packaging. Fast shipping!<span class="product-review-name">-Karen M.</span></h3>
    </div>
  </div>
</div>

<style>

  @media only screen and (min-width: 1440px) {
    .home-luxome-review {
      min-height: 200px;
    }
    
  }
</style>

