<header class="dark-blue-header">
  <h3 class="dark-blue-h3">PRODUCT</h3>
  <h1 class="dark-blue-h1">Shipping & Returns</h1>
</header>

<main class="ancillary-main shipping-returns-main">
  <div class="shipping-main">
    <h4 class="ancillary-h4 shipping-h4">SHIPPING</h4>
    <p class="shipping-bold">Free Shipping:</p>  
    <p class="faq-a-normal">Free shipping is available to customers in the contiguous US only. All products ship via FedEx Ground/Home Delivery and ship within 24 hours from purchase (Monday through Friday). A shipping confirmation will be emailed as soon as tracking information is available. Most products arrive within five days, depending on location.  </p>
    
    <p class="shipping-bold">Expedited Shipping:</p>  
    <p class="faq-a-normal">We offer Expedited Shipping (2 business day) for an additional fee, via Fedex 2-Day. Please note that this shipping option does not guarantee delivery on Saturdays, Sundays or holidays.</p>
    
    <p class="shipping-bold">International Shipping:</p>  
    <p class="faq-a-normal">We offer International Shipping to most countries outside of the United States. Once an international shipping address is entered, shipping methods and fees will be shown. Please keep in mind that additional duties and taxes may apply to complete delivery and will vary based on the country.  </p>
  </div>
  <div class="return-main">
    <h4 class="ancillary-h4 shipping-h4">RETURN POLICY</h4>
    <p class="faq-a-normal">We want you to be completely satisfied with your purchase, so Luxome has a 30-day return policy from the date your product was delivered. </p>
    
    <p class="faq-a-normal">To be eligible for a return, your item must be clean, not damaged, and in like-new condition. You must also include any Luxome carrying bags or totes. </p>
    <p class="faq-a-normal">If the return is due to a fault of ours (defect, wrong product, damaged), we will pay for the return shipping and issue a full refund. If the return is due to customer preferences, we will deduct the return shipping from the total refund. We do not charge any return or restocking fees and extend our volume shipping discounts in the form of a prepaid shipping label. Please allow 4-5 business days for your refund to be processed once your return has been received.</p>
        
    <p class="shipping-bold">Gift Returns:</p>  
    <p class="faq-a-normal">Please email <a class="mailto a-link-faq" href="mailto:support@luxome.com">support@luxome.com</a> with the order number listed on the packing slip, your name and email address. A return shipping label will be sent and a store credit in the form of an e-gift card will be emailed once your return has been processed.</p>
    
    <p class="shipping-bold">Exchanges:</p>  
    <p class="faq-a-normal">Exchanges are treated as a return and repurchase. Simply return the item, following our return policy above, and purchase the item you prefer.</p>
  </div>
  <div class="return-main">
    <h4 class="ancillary-h4 shipping-h4">PLACE A RETURN</h4>
    <p class="faq-a-normal">Once your product has been received and inspected, your refund will be issued, typically in about 4-5 days.</p>
    
    <div class="center-button-div">
    	<a href="/a/returns" target="_blank"><button class="btn-light-white btn-shipping-return">RETURN AN ITEM</button></a>
    </div>
  </div>
</main>








 
 
  
 

