<header class="dark-blue-header">
  <h3 class="dark-blue-h3">FAQ</h3>
  <h1 class="dark-blue-h1">Your questions, answered.</h1>
</header>

<main class="ancillary-main faq-main">
  
  <p class="p-center">
    Need to know more about our products or looking for advice on how to choose?<br />
    We are here to help!
  </p>
  
  <button class="accordion">Weighted Blankets</button>
  <div class="panel">
    <p class="faq-q-bold">Q: What is the difference between the Integrated, Removable Cover & Cooling Blankets?</p>  
    <p class="faq-a-normal">A: The difference between the types of Luxome blankets is simple: One has a removable premium cover and the other has the premium cover sewn directly onto the blanket (Integrated) and is not removable.</p>
    <p class="faq-a-normal">Our Cooling Weighted Blankets are simply a selection of our coolest Integrated Cover and Removable Cover blankets.  The cooling aspect is due to the bamboo lyocell fabric we use, as lyocell from bamboo is a natural temperature regulating fabric.</p>
    <p class="faq-a-normal">We also answer “What are the blankets made of?” below.</p>
    
    <p class="faq-q-bold">Q: Which size/weight is right for me?</p>  
    <p class="faq-a-normal">A: For children (4+) we recommend the small size (42"x56" - 8lbs). For adolescents, smaller adults, and couch throws we recommend the medium size (54"x72" - 15lbs). For most adults we recommend the large size (60"x80" - 18lbs). For a sharable blanket, we recommend the extra large (100"x85" – 30lbs.) </p>
    <p class="faq-a-normal">Selecting a weight based on body weight actually has no scientific basis and the weight per square foot can vary greatly depending on the blanket size. All of our blankets are specifically optimized to a perfect weight per square foot based on extensive user testing that included, men, women, adolescents, and children of all shapes and sizes. So, just select a size and rest assured it's the right weight.</p>
    
    <p class="faq-q-bold">Q: What are your blankets made of?</p>  
    <p class="faq-a-normal">A: For our Removable Cover Weighted Blankets, the inner blanket has an outer shell of 100% cotton with a thread count of 233. This higher thread count is to ensure the fabric density required to hold in the 1mm glass beads throughout use and washing. The higher thread count is also useful to use the blanket without a cover to provide additional softness. </p>
    <p class="faq-a-normal">Underneath the outer cotton shell are 1mm natural, 100% lead-free, hypoallergenic, glass beads sewn into small square pockets for even weight distribution. They are not sharp and do not cause any damage to the blanket. With the glass beads is polyester fabric filling to limit the beads from moving around within their section. </p>
    <p class="faq-a-normal">The integrated blankets are the exact same, but underneath the integrated cover sewn into the blanket is a layer of polyester to provide additional strength and durability for washing.</p>
    
    <p class="faq-q-bold">Q: What is the difference between Bamboo Lyocell & Minky?</p>  
    <p class="faq-a-normal">A: Lyocell from bamboo is soft, cool and silky to the touch. It is a naturally thermal-regulating and moisture-wicking fabric, that is also hypoallergenic and antibacterial. This is a favorite among those that tend to regularly sleep hot. </p>
    <p class="faq-a-normal">Minky is soft and velvety to the touch. It is similar to fleece and microfiber, so it will retain heat for a warmer experience. </p>
    <p class="faq-a-normal">Our Bamboo Lyocell + Minky cover options provides a cool, bamboo lyocell side and cozy, Minky side all in one flippable cover to provide the best of both worlds. </p>
    
    <p class="faq-q-bold">Q: Are your blankets machine washable?</p>
    <p class="faq-a-normal">A: YES! While a lot of other companies require their blankets to be hand washed only, ALL types of Luxome weighted blankets, up to 18lbs, can be machine washed and dried. Because we use higher quality fabrics with higher thread counts, our blankets can be machine washed & dried without any problems.</p>
    <p class="faq-a-normal">If you want to learn more about why our blankets are the best, we deconstruct the weighted blanket in some of our <a href="https://luxome.com/pages/videos" class="a-link-faq">VIDEOS</a>.</p>
    <p class="faq-a-normal">We also posted detailed <a class="faq__link" href="https://luxome.com/pages/care-instructions" class="a-link-faq">CARE INSTRUCTIONS</a> for all Luxome blankets. </p>
    
    <p class="faq-q-bold">Q: Will the blanket cover my bed?</p>
    <p class="faq-a-normal">A: Weighted blankets have been studied and designed to be used individually. We optimize ours to a specific weight per square foot for the best experience and matched our sizes to bed sizes so they can look great while you’re not using them. However, they are not the same dimensions as standard blankets that drape over the bed since that would require a lot of wasted weight in order to maintain our ideal weight per square foot.</p>
    <p class="faq-a-normal">View our comprehensive <a href="#" id="size-guide-modal-link-faq" class="a-link-faq">SIZE GUIDE</a> here</p>
    {%- include 'modal-size-guide', modalId: "size-guide-modal-link-faq" -%}
    
    <p class="faq-q-bold">Q: Is your blanket really cooling?</p>
    <p class="faq-a-normal">A: We designed our weighted blankets to minimize excess heat, but unfortunately we can't eliminate it. The main function of a blanket is to provide warmth, so we did our best to minimize that warmth while providing additional weight. </p>
    <p class="faq-a-normal">Our weighted blankets are much cooler than competitive blankets since we use breathable, high-quality materials and avoid several layers of cheap polyester or cotton. When you combine our breathable core construction with outer fabrics like our 300TC Bamboo Lyocell, our weighted blankets are as cool as you can make a weighted blanket. However, they are still blankets and will still provide warmth, just a lot less warmth than a comparable blanket. </p>
    <p class="faq-a-normal">If you are looking for our coolest blankets, we’d recommend the following, in order:</p>
    <p class="faq-a-normal">
      Bamboo Lyocell Integrated Blanket<br />
      Bamboo Lyocell Removable Cover Blanket<br />
      Bamboo Lyocell + Minky Integrated Blanket<br />
      Bamboo Lyocell + Minky Removable Cover Blanket
    </p>
    
    <p class="faq-q-bold">Q: Where is my removable cover?</p>
    <p class="faq-a-normal">A: To save you unnecessary time and hassle, your removable cover weighted blanket arrives with the removable cover already attached. Since we did such a great job hiding the zipper, it may be hard to locate Simply find the black LUXOME tag, then slowly follow the seam towards the center and you’ll find the zipper in between the black Luxome tag and the middle of the blanket. </p>
    <p class="faq-a-normal">View our video on blanket covers here: <a href="https://luxome.com/blogs/videos/blanket-covers">https://luxome.com/blogs/videos/blanket-covers</a></p>

    <p class="faq-q-bold">Q: How do I remove/reattach the removable cover?</p>
    <p class="faq-a-normal">A: To remove your Removable Cover, simply open the zipper (located along the same side as the black Luxome tag), turn the cover inside out and untie each connection.  To reattach, lay the weighted insert flat, lay the cover inside out on the insert, and retie each connection.  Then, carefully, turn the cover & insert right side out by either feeding your arms through the cover opening to the far corners of the blanket, or by using a roll method. </p>
    
    <p class="faq-q-bold">Q: Can I add a removable cover to my Integrated Cover blanket?</p>
    <p class="faq-a-normal">A: Our Integrated Cover blankets are designed to be used without a cover, which is why we made them machine washable and removed the loops. If you are specifically looking for a blanket with a removable cover, check out our Removable Cover Weighted Blankets.</p>
    
    <p class="faq-q-bold">Q: Does the Integrated Cover blanket come in the XL 30lb size?</p>
    <p class="faq-a-normal">A: Since we do not consider our XL 30lb blanket to be machine washable, this size is only available with a removable cover for easy care and maintenance. </p>
    
    <p class="faq-q-bold">Q: What if my blanket is too heavy?</p>
    <p class="faq-a-normal">A: While we would love to be able to guarantee that everyone will experience the weighted blanket in the same way, how a person reacts to the additional weight varies. Some people will feel its benefits right away, and some may need up to 7-10 nights for their body to adjust to the additional weight. For others, it just may not work out at all. Trying the blanket for multiple nights is the best way to know if your body will adjust to the additional weight and why we offer a 30-day return policy.</p>
  </div>
  
  <button class="accordion">Lightweight Blanket</button>
  <div class="panel">
    <p class="faq-q-bold">Q: What is the Lightweight Blanket made of?</p>
    <p class="faq-a-normal">A: Our Lightweight Blanket fabric and fill is made of 100% viscose from bamboo. The outer fabric is 300 Thread Count Bamboo Viscose for a supremely soft feel.</p>
    
    <p class="faq-q-bold">Q: Is your Lightweight Blanket machine washable?</p>
    <p class="faq-a-normal">A: YES! To keep your blanket looking and feeling its best, it does require a little extra TLC. Please follow our <a class="faq__link" href="https://luxome.com/pages/care-instructions">CARE INSTRUCTIONS</a> to ensure longevity and durability.</p>
    
    <p class="faq-q-bold">Q: Does this blanket shrink after washing?</p>
    <p class="faq-a-normal">A: Like all fabrics derived from nature, there is going to be some shrinkage when washed. Our luxury linens are cut in a way to compensate for shrinkage and that has been applied to the measurements which can be found under the "Details" tab on the product page. Additionally, be sure to read and follow all care instructions found on the product label to prevent any further shrinkage due to high temperatures or heat.</p>
    
    <p class="faq-q-bold">Q: Is your Lightweight Blanket really cooling?</p>
    <p class="faq-a-normal">A: YES! Due to bamboo viscose’s natural plant-based fibers, it naturally absorbs (wicks away) moisture from your body. Since the fibers are hollow with micro gaps and holes, it breathes better and evaporates that moisture out of your bed far better than other bedding materials. The result is a bed that breathes with you, mimicking your body’s natural temperature regulation.</p>    
    
    <p class="faq-q-bold">Q: Is your Lightweight Blanket meant for warmer climates only?</p>
    <p class="faq-a-normal">A: NO! With a thinner proﬁle than a traditional comforter, this blanket is perfect for year-round use. The naturally thermal-regulating bamboo viscose fabric and ﬁll is perfect for hot sleepers, while still providing adequate warmth in the cooler months.</p>    
    
    <p class="faq-q-bold">Q: What is the difference between your Lightweight Blanket and Weighted Blanket?</p>
    <p class="faq-a-normal">A: The difference between our two blankets is simple: One provides additional weighted comfort using 1mm glass beads (Weighted Blanket) and the other provides light comfort with no additional weight (Lightweight Blanket).</p>
    
    <p class="faq-q-bold">Q: Is your Lightweight Blanket wrinkle resistant?</p>
    <p class="faq-a-normal">A: By nature, bamboo viscose fabric can wrinkle more quickly than alternate fabrics. Our bamboo viscose blankets are not chemically treated to be wrinkle resistant. To avoid as many wrinkles as possible, it is best to remove the blanket from your dryer immediately after it has finished and place on your bed right away. See our <a class="faq__link" href="https://luxome.com/pages/care-instructions">CARE INSTRUCTIONS</a> for additional wrinkle release instructions. </p>
  </div>

  <button class="accordion">ClimaSense™ Comforter</button>
  <div class="panel">
    <p class="faq-q-bold">Q: What is ClimaSense?</p>
    <p class="faq-a-normal">A: ClimaSense™ is powered by 37.5® Technology which uses naturally derived minerals that adjust to your body’s need for cooling or warmth, helping to regulate your temperature while you sleep. </p>
    
    <p class="faq-q-bold">Q: What is 37.5® Technology?</p>
    <p class="faq-a-normal">A: 37.5 Technology is triggered by humidity. Humidity in your microclimate is the gauge for whether you are hot or cold. When you’re hot, the active minerals embedded within your comforter use your body’s energy to remove moisture, helping to cool you down. When you’re cold, the same active minerals use your body’s energy to help keep you warm. </p>
    
    <p class="faq-q-bold">Q: Why is it called 37.5®?</p>
    <p class="faq-a-normal">A: It’s called 37.5® Technology because it helps keep your body at the ideal core temperature of 37.5˚ Celsius during exercise, and helps keep the microclimate next to your skin while sleeping at the ideal relative humidity of 37.5%.</p>    
    
    <p class="faq-q-bold">Q: Can I use this comforter year-round?</p>
    <p class="faq-a-normal">A:  YES! Our comforter can transition easily for any season. Simply layer your comforter with other bedding pieces appropriate for each season to tailor your bed to your sleep preferences. </p>    
    
    <p class="faq-q-bold">Q: Can I wash the comforter at home?</p>
    <p class="faq-a-normal">A: To keep your ClimaSense comforter in the very best condition, we DO NOT recommend machine washing.  The delicate Baffle Box construction will become damaged with agitation and the down alternative fibers may clump in the wash. </p>
    <p class="faq-a-normal">Dry cleaning or spot cleaning is highly recommended; small spots may be removed by using warm water and soft soap like Woolite. Do not bleach. Do not iron. </p>
    
    <p class="faq-q-bold">Q: Can I add a duvet cover? </p>
    <p class="faq-a-normal">A:  We encourage using a duvet cover to help keep your ClimaSense Comforter clean and looking its best. The protective layer of a duvet cover can help keep body oils, skin cells, and more from getting in your comforter.  View our available Duvet Covers <a class="faq__link" href="https://luxome.com/products/duvet-cover?variant=40040987557949">HERE</a>.</p>
    
    <p class="faq-q-bold">Q: How many loops does the comforter have? </p>
    <p class="faq-a-normal">A: The ClimaSense comforter has 8 loops — one on each corner and one on the middle of each of the four sides. This is 2x as many as standard comforters and will help keep your comforter in place and avoid bunching with use.</p>
    
    <p class="faq-q-bold">Q: If I add a duvet cover, will the 37.5® Technology still work?</p>
    <p class="faq-a-normal">A: Adding a duvet cover will not stop the effectiveness of the 37.5® Technology minerals.</p>    
    
    <p class="faq-q-bold">Q:  Can I use one of your minky or bamboo weighted blanket removable covers for my comforter?</p>
    <p class="faq-a-normal">A: No. Our removable covers are made specifically for the size and specifications of our weighted blankets. Choose one of our <a class="faq__link" href="https://luxome.com/products/duvet-cover?variant=40040987557949">Duvet Cover</a> options, which are specially designed for the ClimaSense Comforter.</p>

    <p class="faq-q-bold">Q: What is a Baffle Box?</p>
    <p class="faq-a-normal">A: Baffle Box construction features internal fabric walls that separate the top and bottom layers of fabric to offer exceptional loft and distribution of fill.  This is one of the reasons our comforter is so fluffy! </p>
    
    <p class="faq-q-bold">Q: Is the ClimaSense Comforter cool to the touch? </p>
    <p class="faq-a-normal">A: ClimaSense is not cool to the touch. The active particles in 37.5® Technology work on a microscopic level to remove moisture and help maintain your core body temperature, allowing you to sleep with less temperature-induced disruption. </p>
    
    <p class="faq-q-bold">Q: Will your technology wash out?  </p>
    <p class="faq-a-normal">A: The active volcanic minerals in the 37.5® Technology are naturally derived and sustainably harvested volcanic minerals that are chemical-free and will not wash out. </p>
  </div>

  <button class="accordion">Duvet Cover</button>
  <div class="panel">
    <p class="faq-q-bold">Q: What is the difference between your duvet cover fabrics?</p>
    <p class="faq-a-normal">A:  Our Bamboo Viscose Duvet Cover is made of 100% Viscose from Bamboo and is silky-soft to the touch. It also comes in 5 rich colors. Our Cotton Duvet Cover w/ 37.5® Technology has a cool & crisp feel and comes in white and charcoal.</p>
    
    <p class="faq-q-bold">Q: What is 37.5® Technology?</p>
    <p class="faq-a-normal">A: 37.5 Technology is triggered by humidity. Humidity in your microclimate is the gauge for whether you are hot or cold. When you’re hot, the active minerals embedded within your comforter use your body’s energy to remove moisture, helping to cool you down. When you’re cold, the same active minerals use your body’s energy to help keep you warm. </p>
    
    <p class="faq-q-bold">Q: What size is the duvet cover?</p>
    <p class="faq-a-normal">A: All Duvet Cover come in 2 sizes: </p>
    <p class="faq-a-normal" >Full/Queen:  90” wide x 98” long</p>
    <p class="faq-a-normal" >King/California King: 108” wide x 98” long </p>
    
    <p class="faq-q-bold">Q: Does the cover close with buttons or zippers?</p>
    <p class="faq-a-normal">A: Our duvet cover include a sophisticated envelope button closure to ensure a clean, finished look.</p>    
    
    <p class="faq-q-bold">Q: Can I use your Duvet Cover on my existing comforter?</p>
    <p class="faq-a-normal">A: Yes. However, comforters come in a range of sizes and we cannot guarantee our Duvet Covers will fit your comforter perfectly. We recommend carefully measuring your comforter and comparing it to our specs before purchasing. </p>
    
    <p class="faq-q-bold">Q: Can I wash the duvet? </p>
    <p class="faq-a-normal">A: YES! To keep your duvet cover looking and feeling it’s best, be sure to follow our care <a class="faq__link" href="https://luxome.com/pages/care-instructions">instructions</a> carefully to ensure longevity and durability.</p>
    
    <p class="faq-q-bold">Q: Does the Duvet Cover have matching shams?</p>
    <p class="faq-a-normal">A: While we do not sell a traditional sham, our duvet cover colors have been designed to perfectly match our <a class="faq__link" href="https://luxome.com/products/bamboo-pillowcase-set?variant=31945175859261">Luxury Pillowcase Set</a> colors which can be purchased to finish the look of your bedding.</p>
    
    <p class="faq-q-bold">Q: Will the Bamboo Viscose duvet cover shrink after washing?</p>
    <p class="faq-a-normal">A: Like all fabrics derived from nature, there is going to be some shrinkage when washed. Our luxury linens are cut in a way to compensate for shrinkage and that has been applied to the measurements which can be found under the "Details" tab on the product page. Additionally, be sure to read and follow all care instructions found on the product label to prevent any further shrinkage due to high temperatures or heat.</p>    
    
    <p class="faq-q-bold">Q: Can I use this duvet cover on my weighted blanket?</p>
    <p class="faq-a-normal">A: No. Our Duvet Cover are made specifically for the size and specifications of our ClimaSense Comforter. Choose one of our <a class="faq__link" href="https://luxome.com/products/removable-covers?variant=19695805530181">Removable Cover</a> options, which are made just for the Weighted Blanket Inserts.

  </div>

  <button class="accordion">Sheets</button>
  <div class="panel">
    <p class="faq-q-bold">Q: What are your sheets made of?</p>
    <p class="faq-a-normal">A: Our sheets are made of 100% viscose from bamboo and are an industry-leading 400 thread count. This higher thread count is the highest in the bamboo sheet category and ensures the most luxurious quality & performance.</p>
    
    <p class="faq-q-bold">Q: Are your sheets machine washable?</p>
    <p class="faq-a-normal">A: YES! To keep your sheets looking and feeling their best, they do require a little extra TLC. Please follow our care instructions to ensure longevity and durability.</p>
    
    <p class="faq-q-bold">Q: Are your sheets really cooling?</p>
    <p class="faq-a-normal">A: YES! Due to bamboo viscose’s natural plant based fibers, it naturally absorbs (wicks away) moisture from your body.  Since the fibers are hollow with micro gaps and holes, it breathes better and evaporates that moisture out of your bed far better than other bedding materials. The result is a bed that breathes with you, mimicking your body’s natural temperature regulation.</p>    
    
    <p class="faq-q-bold">Q: Are your sheets wrinkle resistant?</p>
    <p class="faq-a-normal">A: By nature, bamboo viscose fabric can wrinkle more quickly than alternate fabrics. Our bamboo viscose sheets are not chemically treated to be wrinkle resistant. To avoid as many wrinkles as possible, it is best to remove the sheets from your dryer immediately after they have finished and place them on your bed right away.</p>    
    
    <p class="faq-q-bold">Q: Do your sheets pill?</p>
    <p class="faq-a-normal">A: Pilling on any natural fabrics, like bamboo viscose, can be due to a number of reasons, including reasons like rough skin, hang nails, fabric of clothing rubbing over the fabric, unfollowed care instructions, etc.</p>
    <p class="faq-a-normal">Bamboo viscose sheets can last several years when properly cared for. Washing bamboo viscose sheets in hot water and with items that have zippers or hooks can cause them to pill. Keep away from fabric softeners and dryer sheets, as the chemicals in these products can break down the bamboo cellulose fibers and shorten the lifespan of the sheets.</p>        

    <p class="faq-q-bold">Q: Do your sheets shrink?</p>
    <p class="faq-a-normal">A: Like all fabrics derived from nature, there is going to be some shrinkage when washed. Our luxury linens are cut in a way to compensate for shrinkage and that has been applied to the measurements which can be found under the "Details" tab on the product page. Additionally, be sure to read and follow all care instructions found on the product label to prevent any further shrinkage due to high temperatures or heat.</p>
    
    <p class="faq-q-bold">Q: Are your sheets stain resistant?</p>
    <p class="faq-a-normal">A: As we do not chemically treat our sheets to be stain and wrinkle resistant, stains from body oils, lotions and sweat may happen.</p>
    <p class="faq-a-normal">We would recommend washing your sheets using Dawn Dish detergent. Dawn is a natural degreaser. Prewash the affected area with a Dawn/water mix, then add another 1/4 cup of dawn to your load, along with the laundry detergent, and wash as usual, using cold water on the gentle cycle.</p>    
  </div>
  <button class="accordion">Ultra Plush Throw</button>
  <div class="panel">
    <p class="faq-q-bold">Q: What is the blanket made from?</p>
    <p class="faq-a-normal">A: Our Ultra Plush Throw is made from 78% micro polyester and 22% Viscose from Bamboo. </p>
    
    <p class="faq-q-bold">Q: Is the blanket heavy?</p>
    <p class="faq-a-normal">A: Our Ultra Plush Throw is ultra-fluffy, but breathable, making it perfect for all seasons. </p>
    
    <p class="faq-q-bold">Q: Can I wash the blanket?</p>
    <p class="faq-a-normal">A: YES! To preserve the shape and softness of the blanket always follow the care instructions. Be sure to wash your throw separately or without anything that can snag or pull the yarns. We recommend washing on a delicate cycle in cold water with a gentle detergent. You may tumble dry on your lowest dryer setting with low heat. Using the air fluff setting or flat drying is also recommended.  Do not use dryer sheets or fabric softener as this will compromise the softness of the fabric.</p>    
    
    <p class="faq-q-bold">Q: Does this blanket shed or lint?</p>
    <p class="faq-a-normal">A: The Ultra Plush Throw is less prone to shedding during use as well as in the wash.</p>    
    
    <p class="faq-q-bold">Q: Will the 70”x100” blanket fit my bed?</p>
    <p class="faq-a-normal">A: The extra-large throw blanket will fit up to a king-sized bed. It’s perfectly sized to use as a beautiful accent piece or to add an extra layer of warmth. We recommend you compare the measurement of your bed/space that you intend to use the throw to ensure you purchase the right size for you.</p>
    
    <p class="faq-q-bold">Q: Will the throw blanket match my other Luxome bedding?</p>
    <p class="faq-a-normal">A: We have carefully selected colors to perfectly complement many of our existing products. If you have any specific color-related questions, feel free to reach out to our customer service team and they will happily assist you with your purchase selection.</p>
    
    <p class="faq-q-bold">Q: Is the Ultra Plush Throw pet-friendly? </p>
    <p class="faq-a-normal">A: Yes, our Ultra Plush Throw is generally pet friendly. However, as with all soft textiles, digging, scratching, or long nails may cause product damage.</p>
    
    <p class="faq-q-bold">Q: How should I store my Ultra Plush Throw? </p>
    <p class="faq-a-normal">A: We suggest storing your throw flat or folded, rather than hanging, which could make it stretch.  Your throw was shipped in a zippered bag to be utilized for storage and prevent any snagging or damage when not in use. </p>

  </div>
  <button class="accordion">LAYR Pillow</button>
  <div class="panel">
    <p class="faq-q-bold">Q: What are the pillow inserts made of?</p>
    <p class="faq-a-normal">A: All of our inserts are enclosed in an extra breathable, thin cotton cover. The SOFT insert is filled with a down alternative. The MEDIUM insert is filled with a premium mixture of our cooling, gel-infused memory foam and our soft, down alternative fill. The FIRM insert is comprised of a 100% gel-infused memory foam.</p>
    
    <p class="faq-q-bold">Q: Is the pillow machine washable?</p>
    <p class="faq-a-normal">A: YES! The outer cover & insert covers can be washed on the gentle cycle with like colors. All filling should be removed before washing.</p>
    
    <p class="faq-q-bold">Q: What are the pillow dimensions?</p>
    <p class="faq-a-normal">A: Standard: 17"w x 24"l | King: 17"w x 34"l (product height will vary based on configuration)</p>    
    
    <p class="faq-q-bold">Q: Is your pillow really cooling?</p>
    <p class="faq-a-normal">A: YES! LAYR includes several cooling features to make sure you never need to flip your pillow to the cool side again – including a cooling cover made from thermal-regulating bamboo viscose and gel-infused memory foam for heat-cycling.</p> 
    
    <p class="faq-q-bold">Q: How do I adjust the pillow?</p>
    <p class="faq-a-normal">A: Here are some easy to follow instructions on getting started customizing your perfect pillow: <a href="https://luxome.com/blogs/videos/how-to-customize-your-layr-pillow">https://luxome.com/blogs/videos/how-to-customize-your-layr-pillow</a></p> 
    
    <p class="faq-q-bold">Q: Should I use all 3 of the inserts?</p>
    <p class="faq-a-normal">A: You may certainly use all 3 inserts, if you like, however most people tend to use 2 of the 3. We simply provide you with the 3 inserts so you may customize the pillow to best fit your needs.</p>
    <p class="faq-a-normal">Visit the Configurations tab on the product page for suggestions: <a href="https://luxome.com/products/layr-adjustable-pillow?variant=39349072134205">https://luxome.com/products/layr-adjustable-pillow</a>  
  </div>

  <button class="accordion">Towels</button>
  <div class="panel">
    <p class="faq-q-bold">Q: What are the Plush Performance towels made of?</p>
    <p class="faq-a-normal">A: Our Plush Performance towels are made of 55% Cotton, 40% Polyester, and 5% Polyamide.</p>
    
    <p class="faq-q-bold">Q: What are the Spa Collection towels made of?</p>
    <p class="faq-a-normal">A: Our Spa Collection towels are made of 60% Bamboo Viscose, and 40% Cotton.</p>
    
    <p class="faq-q-bold">Q: What is the difference between the Plush Performance and Spa Collection towels?</p>
    <p class="faq-a-normal">A: While our Plush Performance towels will feel soft and plush, our Spa Collection towels will feel soft and silky. Both towels will absorb really well, however our Plush Performance towels may dry faster.</p>
    
    <p class="faq-q-bold">Q: What is the difference between a bath TOWEL and bath SHEET?</p>
    <p class="faq-a-normal">A: Our bath sheet is just like the bath towel, but 50% larger – providing you with more coverage and surface area for drying.</p>
    
    <p class="faq-q-bold">Q: What comes in a 6-piece towel set?</p>
    <p class="faq-a-normal">A: Our 6-piece set includes: 2 Washcloths (13"W x 13"L), 2 Hand Towels (16"W x 30"L), and 2 Bath Towels (30"W x 56"L)</p>    
    
    <p class="faq-q-bold">Q: How should the Plush Performance towels be washed?</p>
    <p class="faq-a-normal">A: Plush Performance towels will continue to stay soft & plush with every wash! You may find detailed care instructions <a class="faq__link" href="https://luxome.com/pages/care-instructions">HERE</a>.</p>    
    
    <p class="faq-q-bold">Q: How should the Spa Collection towels be washed?</p>
    <p class="faq-a-normal">A: Due to the natural ﬁbers of bamboo & cotton, your Spa Collection towels will get softer with every wash! You may find detailed care instructions <a class="faq__link" href="https://luxome.com/pages/care-instructions">HERE</a>.</p>    
    
    <p class="faq-q-bold">Q: Should I wash my towels before use?</p>
    <p class="faq-a-normal">A: YES. To get the best out of your towels in terms of performance, plushness and aesthetics, we recommend washing your new towels according to the care instructions before your first use.</p>    
  </div>

  <button class="accordion">Robes</button>
  <div class="panel">
    <p class="faq-q-bold">Q: What are the robes made of?</p>
    <p class="faq-a-normal">A: Our Ultra Plush Robes are made of 81% Polyester, 19% Viscose from Bamboo.</p>
    
    <p class="faq-q-bold">Q: Is the robe washable?</p>
    <p class="faq-a-normal">A: Yes. Please follow our <a class="faq__link" href="https://luxome.com/pages/care-instructions" class="a-link-faq">CARE INSTRUCTIONS</a>.</p>
    
    <p class="faq-q-bold">Q: Is your robe absorbent for after a shower or bath?</p>
    <p class="faq-a-normal">A: The Ultra Plush Robe is not the same as a Bathrobe, which is designed to be used post shower, in place of a towel. The Ultra Plush robe is best for chilly days and nights, snuggling and lounging.</p>
    
    <p class="faq-q-bold">Q: Will the robe shed/lint?</p>
    <p class="faq-a-normal">A: All fabrics will shed lint in some form or another, but the Ultra Plush Robe will lint less than other robe fabrics such as terry.</p>
    
    <p class="faq-q-bold">Q: How big are the pockets?</p>
    <p class="faq-a-normal">A: The Ultra Plush Robe pockets are 7” wide and 8” high.</p>
    
    <p class="faq-q-bold">Q: How long is the robe?</p>
    <p class="faq-a-normal">A: Robe length will change based on how fabric drapes on individual body type but should fall between the ankle and just below mid calf on most. Garment length is measured from the base of the neck to the hem (in the back) – S: 47",  M:48",  L: 49",  XL: 50".</p>
    
  </div>

  <button class="accordion">Product Care</button>
  <div class="panel">
    <p class="faq-q-bold">Q: How do I care for my LUXOME product?</p>
    <p class="faq-a-normal">A: You can find all of our washing and product care instructions <a class="faq__link" href="https://luxome.com/pages/care-instructions">HERE</a>.</p>
    
<!--     <p class="faq-q-bold">Weighted Blankets & Covers:</p>
    <p class="faq-a-normal">If you're like us, you don't have the time to dry clean or air-dry large blankets, which is why we
	  designed both our covers and blankets (excluding the 30lb) to be washed and dried in a machine on
  	  delicate. By using premium fabrics and quality construction we made caring for our blankets a
	  breeze. Simply follow the washing instructions attached to the product.
      Because our integrated blankets don't have a removable cover we specifically built them to be
      washed and dried in a machine. Since we use premium fabrics and higher thread counts, all of our
      integrated blankets can be washed and dried in machines on delicate cycles. We made caring for
      your blankets a breeze, simply follow the washing instructions attached to the product.
    </p>
    
    <p class="faq-q-bold">Sheets & Pillowcases:</p>
    <p class="faq-a-normal">By using premium fabrics and construction techniques, we made caring for our sheets a breeze.
      Bamboo sheets should be washed in cold water and on the gentle cycle. Be sure to wash them
      separately to avoid zippers, hooks, and lint from other fabrics. Line dry or tumble dry on low heat.
      Fabric softener is not necessary - they are already soft and will stay that way after washing.
    </p>
    
    <p class="faq-q-bold">LAYR Pillow:</p>
    <p class="faq-a-normal">The outer cover & insert covers can be washed on the gentle cycle with like colors. All filling should
      be removed before washing (store in spare covers provided). Tumble dry on low or no heat to
      prevent any natural shrinking. Remove immediately. While our outer cover is anti-microbial and
      hypo-allergenic, we still recommend washing it regularly along with sheets and other bedding.
    </p>  -->
  </div>
  
  <button class="accordion">Shipping & Returns</button>
  <div class="panel">
    <p class="faq-q-bold">Q: When do you ship orders?</p>
    <p class="faq-a-normal">
      A: Orders typically ship within 24 hours every Monday to Friday. All orders placed Friday after 2:00pm EST, Saturday or Sunday will ship the following Monday. You will receive tracking information via email and/or text once your order ships. Most orders arrive within 5 business days, depending on your location. Please make sure to add support@luxome.com to your contacts to ensure you receive our order and shipment confirmations.
    </p>
    
    <p class="faq-q-bold">Q: How do you ship orders?</p>
    <p class="faq-a-normal">
      A: We currently offer 3 shipping options:
    <p class="faq-a-normal">Free Standard Shipping: This option is available to customers in the contiguous US only and ship via Regional and National shipping carriers. Most orders will arrive within 3-5 business days, depending on your location. The carrier will be determined based on the shipping address provided and a shipping confirmation will be emailed as soon as tracking information is available.
    <p class="faq-a-normal">Premium Ground: This option will ship via Fedex Ground/Home Delivery or UPS Ground, for an additional fee. Please note that transit times listed during checkout are not guaranteed.
    <p class="faq-a-normal">2-Day Expedited (Guaranteed): This option guarantees delivery within 2 business days shipping via Fedex 2Day or UPS 2nd Day Air, for an additional fee. Please note this shipping option does not guarantee delivery on Saturdays, Sundays or holidays.
    </p>
    
    <p class="faq-q-bold">Q: Do you ship internationally?</p>
    <p class="faq-a-normal">
      A: YES! International Shipping is available to most countries outside of the United States. Once an international shipping address is entered, shipping methods and fees will be shown. Please keep in mind that additional duties and taxes may apply to complete delivery and will vary based on the country.
    </p>
    
    <p class="faq-q-bold">Q: Is return shipping free?</p>
    <p class="faq-a-normal">
      A: If the return is due to a fault of ours (defect, wrong product, damaged) we pay for the return shipping and issue a full refund. If the return is because of customer preferences we deduct the return shipping from the refund. Please review our <a class="faq__link" href="https://luxome.com/pages/returns-exchanges">RETURNS & EXCHANGES</a> for full details.
    </p> 
    
    <p class="faq-q-bold">Q: How do I return an item?</p>
    <p class="faq-a-normal">
      A: Please visit our <a href="https://luxome.com/pages/returns-exchanges">RETURNS & EXCHANGES</a> page for instructions on how to make a return or exchange for a different item. 
    </p>
    
    <p class="faq-q-bold">Q: Where are the products made?</p>
    <p class="faq-a-normal">A: All of our products are designed and tested at our facilities in Michigan. They are manufactured to our exact specifications in China, which is where we were able to find the highest quality partners with specific technology for our weighted blankets, sheets and pillows. By engineering products in Michigan and using world class machinery in China, we are able to produce amazing products at a quality and cost that both we and our customers expect.
    </p>
    
  </div>
  
  <button class="accordion">Orders & Payments</button>
  <div class="panel">
    <h4 class="ancillary-h4 shipping-h4">ORDERS:</h4>
    <p class="faq-q-bold">Q: When will my order ship?</p>
    <p class="faq-a-normal">A: All in-stock inventory orders will ship within 24 hours, Monday – Friday. Shipment notifications are emailed as soon as tracking information is available.</p>
    
    <p class="faq-q-bold">Q: How do I cancel an order?</p>
    <p class="faq-a-normal">A: Orders are processed to ship very quickly, however, if you need to cancel an order that has not yet been shipped, please email us at support@luxome.com with your order number and one of our team members will confirm your cancellation.</p>
    
    <p class="faq-q-bold">Q: Can I cancel an order that has already been shipped?</p>
    <p class="faq-a-normal">A: You may request a stop shipment of your order by contacting support@luxome.com. Return to sender requests are not guaranteed. If we are unable to confirm the stop shipment, you may request a return of your order by visiting our return policy.</p> 
    
	<p class="faq-q-bold">Q: Can I change my order?</p>
    <p class="faq-a-normal">A: At this time, we are unable to make changes once an order has been placed. If your order has yet to ship, you may request a cancellation by contacting us at support@luxome.com and simply place a new order for the item you prefer.</p>
    
    <p class="faq-q-bold">Q: Can I place a gift order?</p>
    <p class="faq-a-normal">A: Unfortunately, our website does not offer gift messages/receipts at this time, however all of our packages come with an invoice that does not include any payment or pricing information. Billing and payment information is communicated to the purchaser via email only.</p> 
    
    <p class="faq-q-bold">Q: What is a preorder?</p>
    <p class="faq-a-normal">A: We do our best to keep all products in stock at all times, however if an item shows as “preorder” a projected ship date will be listed on our website. If the item shows as “sold out” without a date listed, we do not have a projected ship date at that time.</p>
    
    <h4 class="ancillary-h4 shipping-h4">PAYMENTS:</h4>
    <p class="faq-q-bold">Q: Can I split my order with two payment methods?</p>
    <p class="faq-a-normal">A: At this time, our system only allows for one payment method to be used per purchase.</p>
    
    <p class="faq-q-bold">Q: Do you charge sales tax?</p>
    <p class="faq-a-normal">A: Several states do require us to charge taxes for online purchases. The shipping address entered will determine if sales tax is applicable and will show in your order summary, prior to payment.</p> 
    
    <p class="faq-q-bold">Q: Why am I charged now for a preorder?</p>
    <p class="faq-a-normal">A: For your safety and security, we do not store any payment information and collect funds for a preorder at the time the order is placed. You may request a cancellation and full refund of your order anytime prior to your preorder being shipped.</p> 
  </div>
</main>
{% render 'three-products-end-of-page' %}


<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("faq-active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>
