<header class="dark-blue-header">
  <h3 class="dark-blue-h3">ABOUT US</h3>
  <h1 class="dark-blue-h1">We're Delighted You're Here</h1>
</header>

<main class="ancillary-main">
  <div class="about-us-mobile">
    <p class="ancillary-p">
      We believe our homes should be our sanctuaries. That they should instill in us a sense of warmth and
      calm from the moment we step inside. That every space should be inviting and offer a variety of self-
      care comforts as we go about our daily routines. That’s why we’re committed to creating elevated home 
      comfort essentials that will add a touch of love and luxury to any space in your home.
    </p>
    <img class="lazyload" data-src="{{ 'ABOUT_US_-_Mobile.png' | asset_img_url: '400x' }}" alt="Hyaat's family">
    <h4 class="ancillary-h4">WE CARE ABOUT SELF-CARE</h4>
    <p class="ancillary-p">
      Our mission is to deliver one-of-a-kind luxury essentials that calm, uplift, and give much-needed comfort
      to you, your loved ones, and your homes. We create products that are so irresistibly soft and exquisitely
      designed that they make every day more beautiful and every moment more special. 
    </p>
    <h4 class="ancillary-h4">WE MAKE EVERYTHING WITH LOVE</h4>
    <p class="ancillary-p">
      We pride ourselves on only designing products that our team absolutely loves. Our innovative process
      involves months of rigorous testing; we’ll never bring a product to market that we don’t test with our 
      own loved ones in our own homes. Perfection is always our goal. Your comfort is always our delight.
    </p>
    <h4 class="ancillary-h4">WE KNOW QUALITY IS ESSENTIAL</h4>
    <p class="ancillary-p">
      Each one of our products is made from the finest fabrics and materials. By selling directly to you, we’re
      able to bring more comfort to your world through premium products at affordable prices. Because self-
      care is a luxury that everyone should be able to enjoy.
    </p>
    <div class="ancillary-p thank-you">
      <p class="p-br p-br-mobile">Most of all, we believe a little love goes a long way. Welcome to our comfy community.</p>
    </p>
      <p class="p-br p-br-mobile">XO,</p>
      <p class="p-br p-br-mobile">LUXOME</p>
    </div>
  </div>
  
  <!--  DESKTOP  -->
  <div class="about-us-main-top">
    <div class="about-us-left">
      <img class="lazyload" data-src="{{ 'ABOUT_US_-_Desktop.png' | asset_img_url: '400x' }}" alt="Hyaat's family">
    </div>
    <div class="about-us-right">
      <p class="ancillary-p">
      We believe our homes should be our sanctuaries. That they should instill in us a sense of warmth and
      calm from the moment we step inside. That every space should be inviting and offer a variety of self-
      care comforts as we go about our daily routines. That’s why we’re committed to creating elevated home 
      comfort essentials that will add a touch of love and luxury to any space in your home.
      </p>
      <h4 class="ancillary-h4">WE CARE ABOUT SELF-CARE</h4>
      <p class="ancillary-p">
      Our mission is to deliver one-of-a-kind luxury essentials that calm, uplift, and give much-needed comfort
      to you, your loved ones, and your homes. We create products that are so irresistibly soft and exquisitely
      designed that they make every day more beautiful and every moment more special. 
      </p>
      <h4 class="ancillary-h4">WE MAKE EVERYTHING WITH LOVE</h4>
      <p class="ancillary-p">
      We pride ourselves on only designing products that our team absolutely loves. Our innovative process
      involves months of rigorous testing; we’ll never bring a product to market that we don’t test with our 
      own loved ones in our own homes. Perfection is always our goal. Your comfort is always our delight.
      </p>
      <h4 class="ancillary-h4">WE KNOW QUALITY IS ESSENTIAL</h4>
      <p class="ancillary-p">
      Each one of our products is made from the finest fabrics and materials. By selling directly to you, we’re
      able to bring more comfort to your world through premium products at affordable prices. Because self-
      care is a luxury that everyone should be able to enjoy.
      </p>
      <div class="ancillary-p thank-you">
        <p class="p-br">Most of all, we believe a little love goes a long way. Welcome to our comfy community.</p>
      </p>
        <p class="p-br">XO,</p>
        <p class="p-br">LUXOME</p>
      </div>
    </div>
  </div>
  
  <hr class="hr-divider">
  
  <div class="about-us-main-bottom">
	{% include 'ancillary-lower-products-section.liquid' %}
  </div>
</main>