<header class="dark-blue-header">
  <h3 class="dark-blue-h3">PRODUCT</h3>
  <h1 class="dark-blue-h1">Care Instructions</h1>
</header>

<main class="ancillary-main care-instr-main">
  <div class="care-instructions-main">
    <h3>WEIGHTED BLANKETS & COVERS:</h3>
    <button class="accordion">Minky Covers</button>
    <div class="panel">
      <p class="ancillary-p">
        <span class="span-redish">**Removable Covers should be separated from inner blankets prior to washing.</span>
      </p>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
			Machine wash cold on gentle cycle with a mild, liquid detergent. Do not bleach.
        </p>
      </div>
      
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Tumble dry on gentle cycle with low heat. Do not iron Minky covers.
        </p>
      </div>
    </div>
    
    <button class="accordion">Bamboo Lyocell & Bamboo/Minky Covers</button>
    <div class="panel">
      <p class="ancillary-p">
        <span class="span-redish">**Removable Covers should be separated from inner blankets prior to washing.</span>
      </p>
      
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
          Machine wash cold on gentle cycle with a mild, liquid detergent. Do not use bleach or fabric softener.
        </p>
      </div>
      
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Tumble dry on gentle cycle with low heat. Do not iron. Do not dry clean.
        </p>
      </div>
      
    </div>
    
    <button class="accordion">Integrated Blankets & Removable Inserts</button>
    <div class="panel">
      <p class="ancillary-p">
        **We tested our blankets up to 18lbs in many home machine types to ensure durability, however if you feel your machine will not be able to handle the blanket, we recommend using a laundromat or hand washing and air drying. Please monitor your machines closely while washing to prevent any damage.
      </p>
      
      <div>
        <p class="ancillary-p no-margin"><span class="span-bold">8lb, 15lb, 18lb</span></p>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
          Machine wash in cold water on gentle cycle with a mild, liquid detergent. We suggest using an extra rinse cycle after main wash cycle. Do not use bleach or fabric softener.
        </p>
      </div>
      
        
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Tumble dry on gentle cycle with low heat. We suggest including 2-3 dryer or tennis balls to help maintain even weight distribution and prevent any bunching due to spin cycles. Do not iron. Do not dry clean.
      	</p>
      </div>
      
      <p class="ancillary-p">
        <span class="span-bold">Note: </span>All of these sizes can be machine washed/dried, but we recommend only using machines when necessary. You may find a simple spot clean with a mild, liquid detergent and warm water mix will get the job done. The spinning motion of machine washing/drying may cause some bunching withing the pockets. If this happens, see our care tips for this below.
      </p>
      
        
      <div>
        <p class="ancillary-p no-margin"><span class="span-bold">30lb</span></p>
		<p class="ancillary-p no-margin"><span class="span-blueish">Wash:</span></p>
      	<p class="ancillary-p">
          Hand wash or spot clean only with a mild, liquid detergent and warm water mix.
        </p>
      </div>
            
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Dry:</span></p>
        <p class="ancillary-p">
          Air dry.
        </p>
      </div>
      
      <div>
        <p class="ancillary-p">
          <span class="span-redish">Due to the weight, do not machine wash/dry this blanket in your home machines</span>
        </p>
      </div>
    </div>
    
    <button class="accordion">Additional Care Tips</button>
    <div class="panel">
      <div>
        <p class="ancillary-p no-margin"><span class="span-bold">Removing Weighted Insert from Cover:</span></p>
        <p class="ancillary-p">
          To locate your removable cover zipper, simply find the black LUXOME tag, then slowly follow the seam towards the center and you’ll find the zipper in between the black Luxome tag and the middle of the blanket. To remove your Removable Cover, simply open the zipper, turn the cover inside out and untie each connection.
        </p>
      </div>
      
      <div>
        <p class="ancillary-p no-margin"><span class="span-bold">Care Tips to Correct any Bunching after Washing:</span></p>
        <p class="ancillary-p">
          Ensure the blanket is completely dry. If it seems like some of the pockets containing the
          beads/filling are bunching simply pull the pockets from both sides by pinching the fabric. You
          should feel the filling inside separate like pulling apart a cotton ball. Tilt or move the blanket so
          any clumped beads can be released back into the filling.
        </p>
      </div>
      
      <div>
        <p class="ancillary-p no-margin"><span class="span-bold">Replacing Cover on Removable Blanket Insert:</span></p>
        <p class="ancillary-p">
          To reattach your Removable Cover, lay the weighted insert flat. Then lay the cover inside out on
          top of the weighted insert, and retie each connection. Then, carefully turn the cover & insert right side out by feeding your arms through the cover opening to the far corners of the blanket.
        </p>
      </div>
    </div>
    
    <h3>COMFORTERS & BLANKETS:</h3>
    <button class="accordion">ClimaSense Comforter Instructions</button>
    <div class="panel">
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
          Do not wash in washing machine.  Small spots may be removed by using warm water and soft soap like Woolite.  Do not bleach.
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Air dry or machine dry on medium heat for a few to 20 minutes, with wool dryer balls, to evaporate any spot clean moisture.  Do not leave your comforter running in the dryer for a long period of time or use too high heat.  Because of the large size and amount of fill, this comforter will fluff up, filling your dryer, and may cause burn marks        
        </p>
        <div>
          <p class="ancillary-p no-margin"><span class="span-blueish">Additional Care Tips:</span></p>
          <p class="ancillary-p">
            Fluff your comforter:  Give it a good shake from all sides to redistribute the fill.  Fluff in the dryer (20 minutes, medium heat with wool dryer balls).  Do not leave your comforter running in the dryer for a long period of time or use too high of heat.  Because of the large size and amount of fill, this comforter will fluff up, filling your dryer and, and may cause burn marks.  
          </p>
        </div>
        <div>
          <p class="ancillary-p no-margin"><span class="span-blueish">Storage:</span></p>
          <p class="ancillary-p">
            Store your ClimaSense comforter in the bag included with shipping.
          </p>
        </div>
      </div>
    </div>

    <button class="accordion">Duvet Cover Care Instructions</button>
    <div class="panel">
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
          Remove duvet cover from comforter before washing. Be sure to wash them separately to avoid zippers, hooks, and lint from other fabrics. Machine wash cold on gentle. Do not bleach. Do not use fabric softener or dryer sheets. 
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Tumble dry, low heat. Remove promptly. Low heat iron if needed.   
        </p>
        <div>
          <p class="ancillary-p no-margin"><span class="span-blueish">Additional Care Tips:</span></p>
          <p class="ancillary-p no-margin">
            How to remove the duvet cover: 
          </p>
          <p class="ancillary-p">
            To remove your duvet cover from the comforter, simply unbutton each button along the top seam, turn the cover inside out and untie each connection
          </p>
          <p class="ancillary-p no-margin">
            How to reattach the duvet cover: 
          </p>
          <p class="ancillary-p">
            To reattach your duvet cover, lay the comforter flat.  Then turn your duvet cover inside out and lay over the top of the comforter and re-tie each connection.  Then carefully turn the cover and insert right side out by feeding your arms through the cover opening to the far corners of the comforter.
          </p>
        </div>
      </div>
    </div>

  <button class="accordion">Lightweight Blanket Care Instructions</button>
    <div class="panel">
      <div>
        <p class="ancillary-p">
          Bamboo viscose has many wonderful beneﬁts, and also a few quirks. Due to the natural ﬁbers in the material, your blanket will get softer with every wash and you may also notice some minor wrinkling and shrinkage. Have no fear, we have accommodated for this in our sizing and design process and included care instructions to keep your blanket looking and feeling great for years to come!
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
          Machine wash alone with cold water on gentle cycle. Use a mild, liquid detergent free from any dyes and perfumes. Do not use bleach or fabric softener.
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Tumble dry on gentle cycle with low heat and remove promptly. Do not use dryer sheets (the blanket is already soft). Do not iron or dry clean. 
        </p>
        <div>
          <p class="ancillary-p no-margin"><span class="span-blueish">Quick Wrinkle Release:</span></p>
          <p class="ancillary-p">
            Tumble dry on medium to high heat for 20 minutes and remove immediately. For deeper creases, use steam option on dryer (if available) or lightly spray area with fresh water and dry again or simply pull tight.
          </p>
        </div>
      </div>
    </div>

    <button class="accordion">Ultra Plush Throw Care Instructions</button>
    <div class="panel">
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
          Be sure to wash your throw separately or without anything that can snag or pull the yarns.  Machine wash with cold water, delicate cycle, and with like colors.  Do not use fabric softener or bleach.  
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Lay flat to dry or tumble dry, delicate cycle, lowest heat setting or air fluff.  Do not use dryer sheets.          
        </p>
        <div>
          <p class="ancillary-p no-margin"><span class="span-blueish">Storage:</span></p>
          <p class="ancillary-p">
            We suggest storing your throw flat or folded, rather than hanging, which could make it stretch.  Your throw was shipped in a zippered bag to be utilized for storage and prevent any snagging or damage when not in use.  
          </p>
        </div>
        <div>
          <p class="ancillary-p no-margin"><span class="span-blueish">Pets:</span></p>
          <p class="ancillary-p">
            Our Ultra Plush Throw is generally pet friendly. However, as with all soft textiles, digging, scratching, or long nails may cause product damage.  
          </p>
        </div>
      </div>
    </div>

    <h3>SHEETS & PILLOWCASES:</h3>
    <button class="accordion">Sheet Care Instructions</button>
    <div class="panel">
	  <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
          Machine wash alone with cold water on gentle cycle. Use a mild, liquid detergent free from any dyes and perfumes. Do not use bleach or fabric softener.
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Tumble dry on gentle cycle with low heat. Do not iron. Do not dry clean. You may also line/air dry.
        </p>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Quick Wrinkle Release:</span></p>
        <p class="ancillary-p">
          Tumble dry on medium to high heat for 10-15 minutes and remove immediately. For deeper creases, use steam option on dryer (if available) or add a damp towel to tumble with the sheets.
        </p>
      </div>
        </p>
      </div>
    </div>

    <h3>LAYR PILLOW:</h3>
    <button class="accordion">Pillow Care Instructions</button>
    <div class="panel">
      <p class="ancillary-p">
        <span class="span-blueish">Machine Wash:</span> The outer cover & insert covers can be washed on the gentle cycle with like colors. All filling should be removed before washing (store in spare covers provided).
      </p>
      <p class="ancillary-p">
        <span class="span-blueish">Machine Dry:</span> Tumble dry on low or no heat to prevent any natural shrinking. Remove immediately.
      </p>
      <p class="ancillary-p">
        While our outer cover is anti-microbial and hypo-allergenic, we still recommend washing it regularly along with sheets and other bedding.
        </p>
      </div>
    
    <h3>TOWELS:</h3>
    <button class="accordion">Plush Performance Towel Care Instructions</button>
    <div class="panel">
      <div>
        <p class="ancillary-p">
          Plush Performance towels will continue to stay soft & plush with every wash! Do not wash with items containing hooks, zippers or buttons as they may cause snags.
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
          Machine wash warm on gentle. Wash separately with like colors. Do not bleach (non-chlorine bleach when needed with white towels only). Do not use fabric softener or dryer sheets (our towels are already soft and fabric softener will affect absorbency).
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Tumble dry, low heat and remove promptly. Do not iron or dry clean. 
        </p>
      </div>
    </div>
    
    <button class="accordion">Spa Collection Towel Care Instructions</button>
    <div class="panel">
      <div>
        <p class="ancillary-p">
          Due to the natural ﬁbers of bamboo & cotton, your towels will get softer with every wash! Do not wash with items containing hooks, zippers or buttons as they may cause snags.
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
          Machine wash warm on gentle. Wash separately with like colors. Do not bleach (non-chlorine bleach when needed with white towels only). Do not use fabric softener or dryer sheets (our towels are already soft and fabric softener will affect absorbency).
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Tumble dry, low heat and remove promptly. Do not iron or dry clean. 
          </p>
        </div>
        </p>
    </div>

    <h3>ROBES:</h3>
    <button class="accordion">Robe Care Instructions</button>
    <div class="panel">
      <div>
        <p class="ancillary-p">
          Due to the natural fibers of bamboo, your robe will remain soft & plush with every wash! 
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Wash:</span></p>
        <p class="ancillary-p">
          Machine wash in cold water on gentle cycle with like colors. Do not use fabric softener or dryer sheets (the robe is soft enough!).
        </p>
      </div>
      <div>
        <p class="ancillary-p no-margin"><span class="span-blueish">Machine Dry:</span></p>
        <p class="ancillary-p">
          Lay flat to dry or tumble dry delicate, low heat. Steam or cool iron if necessary.
        </p>
      <div>
        </p>
      </div>
    </div>

</div>
</main>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("faq-active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>