<header class="dark-blue-header">
  <h3 class="dark-blue-h3">OUR</h3>
  <h1 class="dark-blue-h1">Return Policy</h1>
</header>

<main class="ancillary-main">
  <div class="returns-exhanges-main">
    <h4 class="ancillary-h4">RETURNS & EXCHANGES</h4>
    <p class="ancillary-p">
      We want you to be completely satisfied with your purchase, so Luxome has a 30 day refund/return policy for all our products. 
      To be eligible for a return, your item must be clean, not damaged, and in like-new condition. For weighted blankets and bamboo 
      sheets, you must include the Luxome carrying bag/tote to be eligible for a refund.
    </p>
    <p class="ancillary-p">Out return process:</p>
    <ol>
      <li>Simply submit a return online with your order number and email address and reason for the return.</li>
      <li>We'll email you a return shipping label to send it back to us.</li>
      <li>Once we receive and inspect the product we'll issue the refund, typically in about 4-5 days.</li>
    </ol>
    <p class="ancillary-p">
      If the return is due to a fault of ours (defect, wrong product, damaged) we pay for the return shipping and issue a full refund.
      If the return is because of customer preferences we deduct the return shipping from the refund.
    </p>
  </div>
</main>