<header class="dark-blue-header">
  <h3 class="dark-blue-h3">CONTACT US</h3>
  <h1 class="dark-blue-h1">How can we help?</h1>
</header>

<main class="ancillary-main">
  <div class="contact-us-main">
    <div class="contact-us-upper">
      <h4 class="ancillary-h4">WE ARE HERE FOR YOU!</h4>
      <p class="ancillary-p">Monday - Friday <span class="span-quicksand">9</span>AM - <span class="span-quicksand">5</span>PM EST</p>
      <p class="ancillary-p"><span>855-4LUXOME</span></p>
      <h4 class="ancillary-h4">SEND US A MESSAGE:</h4>
      <p class="ancillary-p"><a class="mailto" href="mailto:support@luxome.com">support@luxome.com</a></p>
    </div>
	<div class="contact-us-buttons contact-us-buttons-light">
    	<a class="mailto" href="mailto:support@luxome.com"><button class="btn-light-white">GET IN TOUCH</button></a>
    </div>
	<div class="contact-us-upper">
  	  <h4 class="ancillary-h4">LOOKING FOR MORE?</h4>
  	  <p class="ancillary-p">Visit the below links for more information about your Luxome products.</p>
    </div>
	<div class="contact-us-buttons contact-us-buttons-blue">
    	<a href="/pages/returns-exchanges"><button class="btn-dark-blue">RETURN & EXCHANGES</button></a>
    	<a href="/pages/care-instructions"><button class="btn-dark-blue">CARE INSTRUCTIONS</button></a>
    </div>
    <div class="contact-us-buttons contact-us-buttons-blue">
    	<a href="/pages/faq"><button class="btn-dark-blue">FAQ</button></a>
    </div>
  </div>
</main>