<header class="dark-blue-header">
  <h3 class="dark-blue-h3">VERIFIED</h3>
  <h1 class="dark-blue-h1">Reviews</h1>
</header>

<main class="ancillary-main reviews-main">
  <h3>Customer Reviews</h3>

  <script type="text/javascript">
    dataLayer.push({event: 'yotpoLoad'});
  </script>
  
  <div id="yotpo-testimonials-custom-tab"></div>
</main>