<header class="dark-blue-header">
  <h3 class="dark-blue-h3">OUR</h3>
  <h1 class="dark-blue-h1">Privacy Policy</h1>
  <h3 class="dark-blue-h3">Last Effective Date: March 19, 2021</h3>
</header>

<main class="ancillary-main privacy-policy-main">
  <h4 class="ancillary-h4">INTRODUCTION</h4>
  <p class="ancillary-p">
    Welcome to luxome.com (the “Website”).  This Privacy Policy explains how CB Consumer Products LLC (“Luxome”; “we”; “us”; or “our”) collect and process information through the Website.  Please read this Privacy Policy carefully to understand our policies and practices regarding your information and how we will treat such information.  If you do not agree with our policies and practices, you should not use the Website. By accessing or using this Website, you agree to this Privacy Policy.
  </p>
  
  <h4 class="ancillary-h4">OVERVIEW</h4>
  <p class="ancillary-p"><br />
  - Our Website is an e-commerce platform through which you can view our products and make purchases.<br />
  - Information collected on this Website may be used to target advertisements to you on other platforms.<br />
  - We offer Website users a number of ways to manage the collection and use of their personal information.<br />
  - You can exercise certain rights regarding your information as described in the YOUR RIGHTS, CHOICES AND OPT OUT section below. Users in certain jurisdictions, such as California and the European Union, have specific rights which are set forth below.<br />
  - We do not maintain user accounts through the Website, but you will need to enter your personal information in order to make a purchase.
  
  </p>
	<h4 class="ancillary-h4">INFORMATION COLLECTION</h4>
  <p class="ancillary-p">
    Our Website collects information that identifies, relates to, describes, references, or is reasonably capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer or household ("personal information"). Luxome collects the following categories of personal information and has collected the following categories of personal information from its consumers within the last twelve (12) months, for the following categories of purposes and from the following categories of sources, and Luxome shares personal information with the following categories of third parties:
  </p>
    <img class="lazyload" data-src="{{ 'Privacy_Policy_2021-01.png' | asset_img_url: '800x' }}" alt="Privacy Policy">  
	<h4 class="ancillary-h4">PAYMENT DETAILS</h4>
  <p class="ancillary-p">
    When you make a purchase, your payment information (such as payment card details) go directly to our payment processor, such as Paypal and Klarna, and are not collected by Luxome.  The payment processor is instructed by us to only use your payment information to complete your purchase.

  </p>
  
	<h4 class="ancillary-h4">COOKIES</h4>
  <p class="ancillary-p">
    Browsing Information is automatically collected through various means such as cookies and pixels on this Website or in our emails.  "Cookies" are pieces of information that may be placed on your device by a service for the purpose of facilitating and enhancing your communication and interaction with that service. Many services use cookies for these purposes.  We may use cookies (and similar items such as clear gifs, web beacons, tags, etc…) on our Website to customize your visit, to analyze how you use our Website, to manage your shopping cart, to understand your interests and for other purposes to make your visit more convenient or to enable us to enhance our services.  Cookies and similar items are not used by us to automatically retrieve personal information that directly identifies you from your device without your knowledge, but may be used to store your login credentials.  We may use both first- and third-party cookies. First-party cookies are those set by us. Third-party cookies (like those used by Google Analytics described below or social media platforms) are cookies that are set by a domain and party other than us. 
  </p>
  <p class="ancillary-p">
	Based on your web browser, you have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the services.  For example, for information about Google Analytics please click on this link: <a href="https://www.google.com/policies/privacy/partners/" target="_blank">https://www.google.com/policies/privacy/partners/.</a> To opt-out of Google Analytics, please copy and paste “tools.google.com/dlpage/gaoptout” into your browser and download the Google Analytics opt-out browser add-on.  
  </p>
  <p class="ancillary-p">
	Further information on cookies is available at <a href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>
  </p>
  
  <h4 class="ancillary-h4">HOW WE USE YOUR INFORMATION</h4>
  <p class="ancillary-p"><br />
  We use information that we collect from you:<br />
  - To deliver our Website and its contents to you;<br />
  - To provide you with information on our products that you request from us;<br />
  - To market our products to you through emails and online advertising;<br />
  - To fulfill your orders;<br />
  - To carry out obligations and enforce our rights;<br />
  - In any other way we may describe when you provide the information; and<br />
  - For any other purpose with your consent.
  </p>
  
	<h4 class="ancillary-h4">DISCLOSURE OF YOUR INFORMATION</h4>
  <p class="ancillary-p">
    We may disclose your information as described in this Privacy Policy or otherwise with your consent:<br />
  - To our marketing partners who are delivering our marketing messages and using data collected from our Website;<br />
  - To contractors, service providers, and other third parties we use to support our business, such as those fulfilling your orders (i.e., payment processors; shipping companies).  However, such parties are only authorized by us to use the information for the benefit of us;<br />
  - To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Luxome’s assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which information held by Luxome about our Website users is among the assets transferred;<br />
  - To comply with any court order, law, or legal process, including to respond to any lawful government or regulatory request;<br />
  - To enforce or apply our policies or investigate fraud; and<br />
  - If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Luxome, our users, clients or others.
  </p>
  <p class="ancillary-p">
	Browsing information: Browsing Information may be disclosed to any number of third parties and used for any number of purposes as long as it is not directly linked to personal information that directly identifies you.
  </p>
  
	<h4 class="ancillary-h4">INTEREST-BASED ADVERTISING</h4>
  <p class="ancillary-p">
    We believe that advertising is more effective and relevant when it is targeted to your interests and behaviors.  Therefore, we may work with third parties who collect information on our Website and elsewhere through the use of cookies and similar methods in order to serve you with relevant advertisements on other services or to determine that you have seen our advertisements on other services.  We may also ourselves use information collected through this Website to target you with advertising on other platforms.  
    </p>
  <p class="ancillary-p">
	For example, if you view our Website and thereafter use Facebook, an ad from Luxome may appear in your Facebook news feed because Facebook collects certain data on our Website.
    </p>
  <p class="ancillary-p">
	You do have the ability to control certain advertising practices.  We comply with the Self-Regulatory Principles for Online Behavioral Advertising as administered by the Digital Advertising Alliance (DAA).  You can learn more about interest-based advertising and opt-out of targeted advertising from certain providers with whom we work by visiting the <a href="https://optout.aboutads.info/?c=2&lang=EN" target="_blank">DAA’s consumer choice page.</a>  The opt-out process through the DAA relies upon the placement of an opt-out cookie on your device.  We do not respond to or honor “do not track” (a/k/a DNT) signals or similar mechanisms automatically transmitted by web browsers for which we are cannot evaluate your choice. 
    </p>
  <p class="ancillary-p">
    For targeted advertisements delivered through mobile Apps, you can install the <a href="https://youradchoices.com/appchoices" target="_blank">DAA’s AppChoices app</a> on your device to opt-out of targeted advertising by certain providers and can also select a system level advertising preference feature on your device (such as “Limit Ad Tracking” on Apple devices or “Opt out of Ads Personalization” on Android devices).  You can learn more how to exercise choices on various mobile devices here -  <a href="https://www.networkadvertising.org/mobile-choice/" target="_blank">https://www.networkadvertising.org/mobile-choice/.</a> 

  </p>
  
	<h4 class="ancillary-h4">LINKS TO OTHER SITES AND SOCIAL MEDIA SERVICES</h4>
  <p class="ancillary-p">
    We may create links to other websites that we think may be of interest to you, such as social media platforms. We do not endorse any other websites and services by providing such links, and our privacy policy applies only to your use of our Website. We are not responsible for the privacy policies of any websites and services we link to on our Website, and you should read the privacy policies of each site you visit to determine what information that site may collect about you.
  </p>
  
	<h4 class="ancillary-h4">DATA RETENTION</h4>
  <p class="ancillary-p">
	We will retain your information for as long as your account is active or as needed for us to manage and provide our services and for our business needs. Even if we delete some or all of your personal information, we may continue to retain and use de-identified or aggregate data previously collected.  </p>
  </p>
  
	<h4 class="ancillary-h4">YOUR RIGHTS, CHOICES AND OPT OUT</h4>    
  </p>
  
	<h4 class="ancillary-h4">California Users –</h4><p class="ancillary-p">If you are a resident of California, you have certain rights under the California Consumer Privacy Act (“CCPA”) as described below.
  <p class="ancillary-p">
	1.	Right to Know About Personal Information Collected, Disclosed or Sold
  <p class="ancillary-p">
	If you are a resident of California, you have the right to request that we disclose certain information to you about our collection, use, disclosure or sale of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request (see Exercising Access, Deletion and Opt-out Rights), and subject to certain limitations that we describe below, we will disclose such information to you.
  <p class="ancillary-p">
    You have the right to request any or all of the following:<br />
  - The categories of personal information we collected about you.<br />
  - The categories of sources from which the personal information is collected.<br />
  - Our business or commercial purpose for collecting or selling that personal information.<br />
  - The categories of third parties with whom we share that personal information.<br />
  - The specific pieces of personal information we collected about you.
  <p class="ancillary-p">
	2.	Right Request Deletion
  <p class="ancillary-p">
    You have the right to request that we delete any of your personal information that we collected from you and retained, subject to certain exceptions. Once we receive and confirm your verifiable consumer request (see Exercising Access, Deletion and Opt-out Rights), we will delete (and direct our service providers to delete) your personal information from our records. However, we may retain personal information that has been de-identified or aggregated.
  <p class="ancillary-p">
    Furthermore, we may deny your deletion request if retaining the information is necessary for us or our service provider(s) to perform certain actions, such as detecting security incidents and protecting us from illegal activity. 
  <p class="ancillary-p">
	3.	Exercising Access, Deletion and Opt-out Rights
  <p class="ancillary-p">
    To exercise the access, deletion and opt-out rights described above, please submit a request to us by either:<br />
  - Emailing us at <a class="mailto a-link-faq" href="mailto:privacy@luxome.com">privacy@luxome.com</a> <br />
  - Calling us at 855-458-9663    
  <p class="ancillary-p">
    We do not “sell” your personal information, as that term is defined under the CCPA. 
  <p class="ancillary-p">
    The request should include your contact information and describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it. In addition, you should provide sufficient information that allows us to reasonably verify that you are the person about whom we collected the personal information.  If you use an authorized agent to make request, you must provide the authorized agent written permission to do so, and we may require that you verify your identity directly with us.  In order to protect the security of your personal information, we will not honor a request if we cannot verify your identity or authority to make the request and confirm the personal information relates to you. The method used to verify your identity will vary depending on the nature of the request.  You have the right not to receive discriminatory treatment for exercising any of your privacy rights. 
  </p>
  
	<h4 class="ancillary-h4">Nevada Users –</h4><p class="ancillary-p">If you are a Nevada resident, you have the right to request that we do not sell your covered information (as those terms are defined in N.R.S. 603A) that we have collected, or may collect, from you.  We do not sell your covered information, however, if you would like to make such a request you may do so by contacting us at <a class="mailto a-link-faq" href="mailto:privacy@luxome.com">privacy@luxome.com</a> . 
  </p>
  
	<h4 class="ancillary-h4">EEA & UK Users –</h4><p class="ancillary-p">If you are a situated in the European Economic Area or United Kingdom and the General Data Protection Regulation (“GDPR”) or a similar law applies, as a data subject, you have the following rights: 
  <p class="ancillary-p">
  - Right to access – This right allows individuals to obtain confirmation as to whether or not personal data concerning them is being processed and provide access to such personal data It also allows individuals to request details of the processing of their personal data including, without limitation, categories of recipients to whom the personal data have been or will be disclosed and purposes of processing.<br />
  - Right to rectify – This right allows individuals to rectify any inaccurate personal data about them.<br />
  - Right to restrict processing – This right allows individuals to block or suppress processing of personal data under certain circumstances.<br />
  - Right to be forgotten – This right is also known as the “right to erasure”. It is an individual’s right to have personal data erased or to prevent processing in specific circumstances.<br />
  - Right of data portability – This right allows individuals to move, copy or transfer personal data from one place to another in a secure manner without interrupting the integrity and usability of the information.<br />
  - Right to object to processing – This right allows individuals to object to certain types of processing, including direct marketing, profiling and providing for purposes of scientific or historical research and statistics.<br />
  <p class="ancillary-p">
	We shall only process your personal data pursuant to a lawful basis, which will usually be with your consent, when we have a legitimate interest, or to perform a contract to which we are subject.  Additionally, if we rely on consent for the processing of your personal data, you have the right to withdraw it at any time and free of charge. When you do so, this will not affect the lawfulness of the processing before your consent withdrawal.        
  <p class="ancillary-p">
	To exercise your rights under the GDPR, please contact us at <a class="mailto a-link-faq" href="mailto:privacy@luxome.com">privacy@luxome.com.</a> Please note that in order for you to assert these rights, we may need to verify your identity to confirm your right to access your personal data.  This is a security measure to ensure that personal data is not disclosed to any person who has no right to receive it. In order to verify your identity, we may need to gather more personal data from you than we currently have.
  <p class="ancillary-p">
	If you are situated in the EU or UK and have any complaints regarding our privacy practices, you have the right to complain to a supervisory authority.
  </p>
  
	<h4 class="ancillary-h4">SECURITY</h4>
  <p class="ancillary-p">
    We take the security of our data and information seriously. We take what we believe are reasonable precautions to protect against unauthorized access to our systems and to prevent data from being disclosed to unauthorized parties. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure.    
  </p>
  
	<h4 class="ancillary-h4">CHANGES TO OUR PRIVACY POLICY</h4>
  <p class="ancillary-p">
    We may change this Privacy Policy at our discretion at any time. If we do make any changes, such change will appear on this page of our Website. The date the Privacy Policy was last revised is identified at the top of the page. Your continued use of the Website following any changes means that you have accepted, consent to, and agree to be bound by such revised Privacy Policy.    
  </p>
  
	<h4 class="ancillary-h4">CHILDREN UNDER THE AGE OF 16</h4>
  <p class="ancillary-p">
    Our Website is not intended for children under 16 years of age. We do not knowingly collect personal information from children under 16. If we learn we have collected or received personal information from a child under 13 without verification of parental consent, we will delete that information. If you believe we might have any personal information from or about a child under 13, please contact us at <a class="mailto a-link-faq" href="mailto:privacy@luxome.com">privacy@luxome.com.</a>     
  </p>
  
	<h4 class="ancillary-h4">UNITED STATES OF AMERICA / CROSS BORDER DATA TRANSFERS</h4>
  <p class="ancillary-p">
    Our Website is maintained in the United States of America. By using the Website, you authorize the export of personal information to the USA and its storage and use as specified in this Privacy Policy. We transfer personal information from the EU and UK to the USA and other countries, some of which have not been determined by the European Commission or other regulators to have an adequate level of data protection. Information stored in the USA may be subject to lawful requests by the courts or law enforcement authorities in the USA.      
  </p>
  
  <h4 class="ancillary-h4">CONTACT US</h4>
  <p class="ancillary-p">
    If you have any questions about this Privacy Policy, please contact us at <a class="mailto a-link-faq" href="mailto:privacy@luxome.com">privacy@luxome.com.</a>
  </p>
</main>