<header class="dark-blue-header">
  <h3 class="dark-blue-h3">PRODUCT</h3>
  <h1 class="dark-blue-h1">Returns & Exchanges</h1>
</header>

<main class="ancillary-main shipping-returns-main">
  <div class="shipping-main">
    <p class="faq-a-normal">
      Your satisfaction is important to us, so Luxome has a 30-day return policy from the date your product was delivered. 
      <span class="shipping-bold">
        Holiday Returns have been extended through 1/31/2023 for orders placed 11/1/2022 and after.
      </span>
    </p>
    
    <p class="faq-a-normal">
      <span class="shipping-bold">
        RETURNED ITEMS
      </span> 
      must be clean, not damaged, and in like-new condition. You must also include any Luxome carrying bags or totes.
    </p>
    
    <p class="faq-a-normal">
      <span class="shipping-bold">
        CUSTOMER PREFERENCE RETURNS:
      </span> 
      Simply follow the "Return/Exchange" button below to receive a return shipping label. We do not charge any restocking fees and extend to you our volume shipping discounts in the form of a prepaid shipping label, however return shipping costs will be deducted from your refund. 
      <span class="shipping-bold">
        Please allow 2-3 business days for your refund, minus the return shipping fee, to be processed once your return has been received.
      </span>
    </p>
    
    <p class="faq-a-normal">
      <span class="shipping-bold">
        EXCHANGES:
      </span> 
       A free pre-paid return shipping label will be provided to you. Simply follow the "Return/Exchange" button below to start your return request and select the new product you would like to receive. Then choose if you would like your exchange order processed instantly or when the returned item is sent back.
    </p>
    
  </div>
  
  <div class="return-exchanges-buttons">
    <a href="https://returns.luxome.com/#/" class="return-exchanges-button btn-light-white">
      <h3>
        Return / Exchange
      </h3>
      
      <div class="return-exchanges-line"></div>
      
      <p class="return-exchanges">
      	I WANT TO RETURN OR
      </p>
      
      <p class="return-exchanges">
      	EXCHANGE A PRODUCT
      </p>
    </a>
    
    <a class="return-exchanges-button btn-light-white" href="mailto:support@luxome.com?subject=Luxome Quality Claim Request&body=Please include your Luxome Order #, email address that the order was placed under, as well as the reason for your Quality Claim and a customer service representative will get back to you within 24 hours." rel="noopener noreferrer">
      <h3>
        Quality Claim
      </h3>
      
      <div class="return-exchanges-line"></div>
      
      <p class="return-exchanges">
      	THERE'S A PROBLEM
      </p>
      
      <p class="return-exchanges">
      	WITH MY PRODUCT
      </p>
    </a>
  </div>
</main>