{% if product.id == 2140387999813 %}{%comment%}cooling-weighted-blankets{%endcomment%}
  <div class="table-product">
    <h2>Weight & Sizing</h2>
    <p>Purchasing a weighted blanket based on a percentage of your body weight isn't accurate since it doesn't take into account the size of the blanket. We conducted our own studies and found an ideal weight per square foot that nearly everyone agreed on, so simply select a size that works best and rest assured it will be the perfect weight.</p>
    <div class="product-table-styling">
      <table class="product-table-overview">
        <thead>
          <tr>
            <td></td>
            <td>WEIGHT</td>
            <td>SIZE</td>
            <td>BEST FOR</td>
            <td>FITS</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-desktop">SMALL</td>
            <td class="td-mobile">SMALL (8lbs)</td>
            <td>8 lbs</td>
            <td>42" x 56"</td>
            <td>Kids</td>
            <td>Lap</td>
          </tr>
          <tr>
            <td class="td-desktop">MEDIUM</td>
            <td class="td-mobile">MEDIUM (15lbs)</td>
            <td>15 lbs</td>
            <td>54" x 72"</td>
            <td>Smaller Adults</td>
            <td>Full/Throw</td>
          </tr>
          <tr>
            <td class="td-desktop">LARGE</td>
            <td class="td-mobile">LARGE (18 lbs)</td>
            <td>18 lbs</td>
            <td>60" x 80"</td>
            <td>Most Adults</td>
            <td>Queen/Full</td>
          </tr>
          <tr>
            <td class="td-desktop">EXTRA LARGE</td>
            <td class="td-mobile">XL (30 lbs)</td>
            <td>30 lbs</td>
            <td>100" x 85"</td>
            <td>Sharing</td>
            <td>King/Queen</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="product-table-button">
      <a id="size-guide-modal-link-pt" class="size-guide-link">
        <button>VIEW COMPLETE SIZE GUIDE</button>
        {%- include 'modal-size-guide', modalId: "size-guide-modal-link-pt" -%}
      </a>
    </div>
  </div>

{% elsif product.id == 1482400661573 %}{%comment%}weighted-blanket-integrated{%endcomment%}
  <div class="table-product">
    <h2>Weight & Sizing</h2>
    <p>Purchasing a weighted blanket based on a percentage of your body weight isn't accurate since it doesn't take into account the size of the blanket. We conducted our own studies and found an ideal weight per square foot that nearly everyone agreed on, so simply select a size that works best and rest assured it will be the perfect weight.</p>
    <div class="product-table-styling">
      <table class="product-table-overview">
        <thead>
          <tr>
            <td></td>
            <td>WEIGHT</td>
            <td>SIZE</td>
            <td>BEST FOR</td>
            <td>FITS</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-desktop">SMALL</td>
            <td class="td-mobile">SMALL (8lbs)</td>
            <td>8 lbs</td>
            <td>42" x 56"</td>
            <td>Kids</td>
            <td>Lap</td>
          </tr>
          <tr>
            <td class="td-desktop">MEDIUM</td>
            <td class="td-mobile">MEDIUM (15lbs)</td>
            <td>15 lbs</td>
            <td>54" x 72"</td>
            <td>Smaller Adults</td>
            <td>Full/Throw</td>
          </tr>
          <tr>
            <td class="td-desktop">LARGE</td>
            <td class="td-mobile">LARGE (18 lbs)</td>
            <td>18 lbs</td>
            <td>60" x 80"</td>
            <td>Most Adults</td>
            <td>Queen/Full</td>
          </tr>
        </tbody>
      </table>
    </div>
	<div class="product-table-button">
      <a id="size-guide-modal-link-pt" class="size-guide-link">
      	<button>VIEW COMPLETE SIZE GUIDE</button>
        {%- include 'modal-size-guide', modalId: "size-guide-modal-link-pt" -%}
      </a>
    </div>
  </div>

{% elsif product.id == 6890447896637 %}{%comment%}weighted-blanket-cover{%endcomment%}
  <div class="table-product">
    <h2>Weight & Sizing</h2>
    <p>Purchasing a weighted blanket based on a percentage of your body weight isn't accurate since it doesn't take into account the size of the blanket. We conducted our own studies and found an ideal weight per square foot that nearly everyone agreed on, so simply select a size that works best and rest assured it will be the perfect weight.</p>
    <div class="product-table-styling">
      <table class="product-table-overview">
        <thead>
          <tr>
            <td></td>
            <td>WEIGHT</td>
            <td>SIZE</td>
            <td>BEST FOR</td>
            <td>FITS</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-desktop">SMALL</td>
            <td class="td-mobile">SMALL (8lbs)</td>
            <td>8 lbs</td>
            <td>42" x 56"</td>
            <td>Kids</td>
            <td>Lap</td>
          </tr>
          <tr>
            <td class="td-desktop">MEDIUM</td>
            <td class="td-mobile">MEDIUM (15lbs)</td>
            <td>15 lbs</td>
            <td>54" x 72"</td>
            <td>Smaller Adults</td>
            <td>Full/Throw</td>
          </tr>
          <tr>
            <td class="td-desktop">LARGE</td>
            <td class="td-mobile">LARGE (18 lbs)</td>
            <td>18 lbs</td>
            <td>60" x 80"</td>
            <td>Most Adults</td>
            <td>Queen/Full</td>
          </tr>
          <tr>
            <td class="td-desktop">EXTRA LARGE</td>
            <td class="td-mobile">XL (30 lbs)</td>
            <td>30 lbs</td>
            <td>100" x 85"</td>
            <td>Sharing</td>
            <td>King/Queen</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="product-table-button">
      <a id="size-guide-modal-link-pt" class="size-guide-link">
      	<button>VIEW COMPLETE SIZE GUIDE</button>
        {%- include 'modal-size-guide', modalId: "size-guide-modal-link-pt" -%}
      </a>
    </div>
  </div>
{% endif %}

