<div id="carousel-upsell">
  <button type="button" class="custom-upsell-x-btn">
    <svg aria-hidden="true" focusable="false" role="presentation" class="white-x-close" viewBox="0 0 64 64"><path class="white-x-close-path" d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg>
    <span class="icon__fallback-text">Close</span>
  </button>
  <div class="first-line">
    <div id="blanket-cover-upsell-checkbox">
      <img id="blanket-cover-upsell-check" src="//cdn.shopify.com/s/files/1/0026/5178/3237/t/106/assets/white-check-mark.png?v=38606035714254630441670254408" width="15" height="13" style="display: flex;">
    </div>
    <p>ADD A DUVET COVER <span class="and-save-span">& SAVE</span> <span></span></p>

  </div>
  <div  id='slide-div'>
    <div class='my-slide' data-slide="1">
      <img src='https://cdn.shopify.com/s/files/1/0026/5178/3237/products/WhiteBDV_768x.png?v=1667322220'>
      <div class='my-slide-body'>
        <p>Protect your comforter while adding style & softness with one of our premium Duvet Covers. With 2x the cover ties to prefecnt shifting & bunching pluse an envelope button closure for a clean, finished look.</p>
        <div class='my-slide-navlinks' style="justify-content:right;">
          <a class="slide-link" data-slidenum="2" href="">SELECT FABRIC ></a>
        </div>
      </div>
    </div>
    <div class='my-slide' data-slide="2">
      <img src='https://cdn.shopify.com/s/files/1/0026/5178/3237/products/WhiteBDV_768x.png?v=1667322220'>
      <div class='my-slide-body'>
        <div class="my-slide-selection">
          <p>FABRIC</p>
          <div class="product-options-grid">
            <div class="variant-input-wrap">
              <input id='my-slide-opt1'>
              <label for='my-slide-opt1' class="variant__button-label">BAMBOO VISCOSE</label>
            </div>
            <div class="variant-input-wrap">
              <input id='my-slide-opt2'>
              <label for='my-slide-opt2' class="variant__button-label">37.5® TECHNOLOGY </label>
            </div>
          </div>
        </div>
        <div class='my-slide-navlinks'>
          <a class="slide-link" data-slidenum="1" href="">< BACK</a>
          <a class="slide-link" data-slidenum="3" href="">SELECT SIZE ></a>
        </div>
      </div>
    </div>
    <div class='my-slide' data-slide="3">
      <img src='https://cdn.shopify.com/s/files/1/0026/5178/3237/products/WhiteBDV_768x.png?v=1667322220'>
      <div class='my-slide-body'>
        <div class="my-slide-selection">
          <p>SIZE</p>
          <div class="product-options-grid">
            <div class="variant-input-wrap">
              <input id='my-slide-opt1'>
              <label for='my-slide-opt1' class="variant__button-label">FULL/QUEEN</label>
            </div>
            <div class="variant-input-wrap">
              <input id='my-slide-opt2'>
              <label for='my-slide-opt2' class="variant__button-label">KING /CAL KING </label>
            </div>
          </div>
        <div class='my-slide-navlinks'>
          <a class="slide-link" data-slidenum="2" href="">< BACK</a>
          <a class="slide-link" data-slidenum="4" href="">SELECT COLOR ></a>
        </div>
      </div>
    </div>
    <div class='my-slide' data-slide="4">
      <img src='https://cdn.shopify.com/s/files/1/0026/5178/3237/products/WhiteBDV_768x.png?v=1667322220'>
      <div class='my-slide-body'>
        <div class="my-slide-selection">
          <p>COLOR</p>
          <div class="product-options-grid">
            <input id='my-slide-opt1'>
            <label for='my-slide-opt1' class="variant__button-label">opt 1</label>
            <input id='my-slide-opt2'>
            <label for='my-slide-opt2' class="variant__button-label">opt 2</label>
          </div>
        </div>
        <div class='my-slide-navlinks'>
          <a class="slide-link" data-slidenum="3" href="">< BACK</a>
          <a class="slide-submit" href="">CONFRIM</a>
        </div>
      </div>
    </div> 
  </div>
  <div id="my-slide-buttons">
    <div style="background:white;" class="slide-button" data-slidenum="1"></div>
    <div class="slide-button" data-slidenum="2"></div>
    <div class="slide-button" data-slidenum="3"></div>
    <div class="slide-button" data-slidenum="4"></div>
  </div>
</div>

<script>
  document.querySelector(".my-slide").style.display = 'flex'
  document.querySelectorAll(".slide-button, .slide-link").forEach(function(el){
    el.addEventListener('click', function(ev){
      ev.preventDefault()
      document.querySelectorAll('.my-slide').forEach(function(slide){
        if (slide.dataset.slide == el.dataset.slidenum){
          slide.style.display = 'flex'
          document.querySelector(`.slide-button[data-slidenum="${slide.dataset.slide}"]`).style.background = 'white'
        } else {
          slide.style.display = 'none'
          document.querySelector(`.slide-button[data-slidenum="${slide.dataset.slide}"]`).style.background = 'grey'
        }
      })
      
    })
  })
</script>
<style>
  #carousel-upsell {
    height: 200px;
    border: grey 1px solid;
  }
  .and-save-span {
    color: #D28268;
  }
  #slide-div {
    display: flex;
    margin-left: 9%;
    margin-right: 3%;

  }
  .my-slide {
    width: 100%;
    display: none;
    height: 164px;
  }
  .my-slide img {
    height: 65%;
  }
  .my-slide-body {
    padding-left:10px;
    height: 65%;
    display: flex;
    flex-direction: column;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 11.5px;
  }
  #my-slide-buttons {
    position: relative;
    display: flex;
    width: 90px;
    height: 15px;
    left: 40%;
    justify-content: space-around;
  }
  .product-options-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-gap: 20px;
  }
  .product-options-grid .variant-input-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
  .product-options-grid .variant-input-wrap label{
    padding: 10px 15px;
    font-size: 9.1px;
    font-weight: 600;
    width: 120px;
  }
  .first-line {
    display: flex;
  }
  .my-slide-navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .slide-button {
    height: 5px;
    width: 18px;
    background: grey;
    cursor: pointer;
  }
  .slide-button:hover {
    background: white;
  }
  .my-slide-navlinks a{
    color: #D28268;
    font-size: 10px;
  }
  #carousel-upsell path.white-x-close-path {
    stroke:white;
    stroke-width: 5px;
  }
  #carousel-upsell .first-line{
    padding-left: 8px;
    padding-top: 10px;
  }
  #carousel-upsell .first-line p{
    padding-left: 8px;
    margin-bottom: 5px;
  }

  .custom-upsell-x-btn svg {
    height: 20px;
    width: 20px;
  }
  .custom-upsell-x-btn {
    float: right;
  }

  .variant-input-wrap input:hover+label:not(.collection-size-guide-label){
    color: white;
    background-color: #999999;
  }
</style>