<h1 class="collection-review-title">Exclusive Savings!</h1>
<p class="collection-review-desc luxome-weighted-blankets">
  Save 25% on select Luxury Weighted Blankets. Hurry – For a limited time only!
</p>

<div class="wb-collection-review-container">
  <div class="slide-stars">
    <p class="yotpo-stars-product-p yotpo">
      <span class="yotpo-filter-stars rating-stars-container "> 
        <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
        <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
        <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
        <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
        <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
      </span>
    </p>
  </div>
  <span class="collection-review"><span class="span-quicksand">15,000</span>+ Reviews</span>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
