<div class="gift-section container-desktop">
  
  <h2 class="gift-section title">A gift for you.</h2>
  
  <div>
    <span class="gift-section message-1">
      Sign up for a chance to win a <span class="numeric-quicksand">$500</span> LUXOME Digital Gift Card! 
    </span>

    <div class="gift-section message-2">
      <i class="gift-section disclaimer">(NO PURCHASE NECESSARY. Must be 18+, US & DC. Ends 7/31/21 at 11:59pm EST.)</i>
      <a href="/pages/sweepstakes" class="gift-section link">OFFICIAL RULES</a>

    </div>

  </div>
  
  
  <div class="gift-section mail-container">
    
    <form method="post" action="//manage.kmail-lists.com/subscriptions/subscribe" target="_blank" id="newsletter-footer" accept-charset="UTF-8" class="gift-section contact-form">
      
      <input type="hidden" name="g" value="Ye5dfT">
      
      <input type="hidden" name="utf8" value="✓">
      <label for="k_id_email" class="hidden-label">Email Address</label>
      <div class="footer__newsletter">
        <input type="email" value="" placeholder="   Email Address" name="email" id="k_id_email" class="footer__newsletter-input gift-section mail-input" autocorrect="off" autocapitalize="off">
        
        <button id="gift-section-mail-btn" type="submit" class="footer__newsletter-btn" name="commit">
          <svg class="svg-right-arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
            <path style="fill:#1E201D;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111
                                           C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587
                                           c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
          </svg>
        </button>
      </div>
    </form>
    
    <div class="gift-section enter-to-win">
      <button onclick="signInForGitft();">
        <h3 class="gift-section sign-me">Enter to Win!</h3>
      </button>
      <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script> 
      <script>
        function signInForGitft(){
          document.querySelector('#gift-section-mail-btn').click()
        }
      </script>
    </div>
    
  </div>
  
  
</div>


<div class="gift-section container-mobile">
  
  <h2 class="gift-section title">A gift for you.</h2>
  
  <span class="gift-section message-1">
    <div>Sign up for a chance to win a</div> 
    <span class="numeric-quicksand">$500</span> LUXOME Digital Gift Card! 
  </span>
  
  <span class="gift-section message-2">
    <i class="gift-section disclaimer">
      <div>(NO PURCHASE NECESSARY. Must be 18+, US & DC. </div>
      <div>Ends 7/31/21 at 11:59pm EST.)</div></i>
  </span>

  <span class="gift-section message">
    <a href="/pages/sweepstakes" class="gift-section link">OFFICIAL RULES</a>
  </span>
  
  
  <div class="gift-section mail-container">
    
    <form method="post" action="//manage.kmail-lists.com/subscriptions/subscribe" id="newsletter-footer" accept-charset="UTF-8" class="contact-form">
      
      <input type="hidden" name="g" value="Ye5dfT">
      
      <input type="hidden" name="utf8" value="✓">
      <label for="k_id_email" class="hidden-label">Email Address</label>
      <div class="footer__newsletter">
        <input type="email" value="" placeholder="   Email Address" name="email" id="k_id_email" class="footer__newsletter-input gift-section mail-input" autocorrect="off" autocapitalize="off">
        
        <button id="gift-section-mail-btn" type="submit" class="footer__newsletter-btn" name="commit">
          <svg class="svg-right-arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
            <path style="fill:#1E201D;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111
                                           C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587
                                           c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
          </svg>
        </button>
      </div>
    </form>
    
  </div>
  
  <div class="gift-section enter-to-win">
    <button onclick="signInForGitft();">
      <h3 class="gift-section sign-me">Enter to Win!</h3>
    </button>
    <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script> 
    <script>
      function signInForGitft(){
        document.querySelector('#gift-section-mail-btn').click()
      }
    </script>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
