a#yotpo_testimonials_btn {
    display: none
}

.yotpo-stars-div {
    display: flex;
    justify-content: center
}

.yotpo-default-button.yotpo-icon-btn.write-question-review-button.write-button.write-review-button {
    display: none
}

span.y-label.yotpo-user-name.yotpo-font-bold.pull-left {
    font-family: 'Libre Baskerville', serif
}

.yotpo .yotpo-icon-empty-star:before {
    color: #C9B66E
}

.yotpo-nav-wrapper {
    margin-right: 1em !important
}

@media only screen and (min-width: 965px) {
    a#onclick-go-to-reviews {
        margin-left:3px;
        transform: translateY(1px)
    }
}

.yotpo-modal-content .yotpo-default-button.primary-color-btn.pull-right.write-review-button.only-invisible {
    display: none
}

.yotpo .color-yellow {
    background: #c9b66e !important
}

.yotpo .font-color-yellow {
    color: #c9b66e !important
}

.yotpo .write-review .yotpo-header .yotpo-icon {
    color: #c9b66e !important
}

.yotpo .yotpo-review .yotpo-header .yotpo-review-stars .yotpo-icon,.yotpo .yotpo-comment .yotpo-header .yotpo-review-stars .yotpo-icon,.yotpo .yotpo-question .yotpo-header .yotpo-review-stars .yotpo-icon,.yotpo .yotpo-onsite-upload .yotpo-header .yotpo-review-stars .yotpo-icon {
    color: #c9b66e !important
}

.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-star,.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-empty-star,.yotpo .yotpo-modal-dialog .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-star,.yotpo .yotpo-modal-dialog .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-empty-star {
    color: #c9b66e !important
}

.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-3-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-star,.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-3-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-empty-star,.yotpo .yotpo-modal-dialog .yotpo-bottomline.yotpo-bottomline-3-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-star,.yotpo .yotpo-modal-dialog .yotpo-bottomline.yotpo-bottomline-3-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-empty-star {
    color: #c9b66e !important
}

.yotpo .yotpo-bottomline .yotpo-icon-star,.yotpo .yotpo-bottomline .yotpo-icon-half-star,.yotpo .yotpo-bottomline .yotpo-icon-empty-star {
    color: #c9b66e !important
}

.yotpo .promoted-products-box .promoted-products .yotpo-promoted-product .yotpo-review-stars .yotpo-icon {
    color: #c9b66e !important
}

div.yotpo-preloader-wrapper .yotpo-pre-loader .yotpo-icon {
    color: #c9b66e !important
}

.yotpo-reviews-carousel .yotpo-icon-star,.yotpo-reviews-carousel .yotpo-icon-empty-star,.yotpo-reviews-carousel .yotpo-icon-full-star,.yotpo-reviews-carousel .yotpo-icon-half-star {
    color: #c9b66e !important
}

.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-star,.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-half-star,.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-empty-star {
    color: #c9b66e !important
}

.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .yotpo-icon-star {
    color: #c9b66e !important
}

.yotpo-lightbox.yotpo-lightbox-new.yotpo .yotpo-modal.yotpo-modal-active .yotpo-lightbox-container .yotpo-lightbox-products-container .yotpo-lightbox-product .review-stars .rating-star {
    color: #c9b66e !important
}

.yotpo-shoppable-gallery .yotpo-shoppable-gallery-header-wrapper .yotpo-shoppable-gallery-header-reviews-wrapper .yotpo-shoppable-gallery-header-reviews-stars .yotpo-icon-star,.yotpo-shoppable-gallery .yotpo-shoppable-gallery-header-wrapper .yotpo-shoppable-gallery-header-reviews-wrapper .yotpo-shoppable-gallery-header-reviews-stars .yotpo-icon-half-star,.yotpo-shoppable-gallery .yotpo-shoppable-gallery-header-wrapper .yotpo-shoppable-gallery-header-reviews-wrapper .yotpo-shoppable-gallery-header-reviews-stars .yotpo-icon-empty-star {
    color: #c9b66e !important
}

.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-tagged-products-container .yotpo-shoppable-products-elements .yotpo-shoppable-product .yotpo-shoppable-gallery-header-reviews-stars .yotpo-icon-star,.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-tagged-products-container .yotpo-shoppable-products-elements .yotpo-shoppable-product .yotpo-shoppable-gallery-header-reviews-stars .yotpo-icon-half-star,.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-tagged-products-container .yotpo-shoppable-products-elements .yotpo-shoppable-product .yotpo-shoppable-gallery-header-reviews-stars .yotpo-icon-empty-star {
    color: #c9b66e !important
}

.ticker .yotpo-stars-color {
    color: #c9b66e !important
}

.filters-dropdown .yotpo-dropdown-button .selected span {
    color: #c9b66e !important
}

.filters-dropdown .yotpo-dropdown .list-category .selected-stars {
    color: #c9b66e !important
}

.filters-dropdown .yotpo-dropdown li.list-category:hover .selected-stars {
    color: #c9b66e !important
}

.mobile-filters-modal .mobile-filters-container .mobile-single-filter .mobile-filter-radio-buttons .mobile-filter-radio-button .radio-selected-star-color {
    color: #c9b66e !important
}

.yotpo div,.yotpo span,.yotpo p,.yotpo a,.yotpo img,.yotpo i,.yotpo strong,.yotpo sup,.yotpo ul,.yotpo li,.yotpo form,.yotpo label {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo .yotpo-default-button,.yotpo input[type='button'].yotpo-default-button {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo input,.yotpo .y-input {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo .text-box,.yotpo .yotpo-text-box {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo .yotpo-nav {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo .yotpo-nav li {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo .yotpo-searchable-widget .suggested-topics-label {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo .yotpo-searchable-widget .suggested-topic .suggested-topic-text,.yotpo .yotpo-searchable-widget .suggested-topic-expand .suggested-topic-text {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-reviews-carousel {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-lightbox.yotpo-lightbox-new.yotpo .yotpo-modal.yotpo-modal-active .yotpo-lightbox-container .yotpo-lightbox-products-container .yotpo-lightbox-product .yotpo-lightbox-product-name .yotpo-lightbox-product-price {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-lightbox.yotpo-lightbox-old.yotpo .yotpo-modal.yotpo-modal-active .yotpo-lightbox-container .yotpo-lightbox-content-container .yotpo-lightbox-products-container .yotpo-lightbox-product-name .yotpo-lightbox-product-price {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-slider .yotpo-slider-title-wrapper .yotpo-slider-title,.yotpo-visual-carousel .yotpo-slider-title-wrapper .yotpo-slider-title,.yotpo-pictures-widget .yotpo-slider-title-wrapper .yotpo-slider-title {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-pictures-gallery .yotpo-hover-cta,.yotpo-pictures-widget .yotpo-hover-cta {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppable-gallery .yotpo-shoppable-gallery-header-wrapper .yotpo-shoppable-gallery-title {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppable-gallery .yotpo-shoppable-gallery-product-header-wrapper .yotpo-shoppable-gallery-product-header-title {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-title .yotpo-shoppable-product-name {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-title .yotpo-shoppable-product-button {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-tagged-products-container .yotpo-shoppable-products-elements .yotpo-shoppable-product .yotpo-shoppable-product-name {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-tagged-products-container .yotpo-shoppable-products-elements .yotpo-shoppable-product .yotpo-shoppable-product-button {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-stats .yotpo-shoppable-likes,.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-stats .yotpo-shoppable-sales,.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-stats .yotpo-shoppable-likes-count,.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-stats .yotpo-shoppable-sales-count {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppable-gallery .yotpo-shoppable-single-image-wrapper .yotpo-shoppable-single-view-container .yotpo-shoppable-tagged-products-title {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppers-say .shoppers-say-title {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppers-say .single-best-sentence .more-reviews {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppers-say .single-best-sentence .sentence {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppers-say .single-best-sentence .display-name {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppers-say .single-best-sentence .review-title {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-shoppers-say .single-best-sentence .full-review {
    font-family: 'Quicksand', sans-serif !important
}

.image-upload-flow-popup .yotpo-modal-content .yotpo-modal-title {
    font-family: 'Quicksand', sans-serif !important
}

.image-upload-flow-popup.upload_images .yotpo-modal-content .yotpo-modal-title {
    font-family: 'Quicksand', sans-serif !important
}

.image-upload-flow-popup.thank_you .yotpo-modal-content .yotpo-modal-title,.image-upload-flow-popup.upload_error .yotpo-modal-content .yotpo-modal-title {
    font-family: 'Quicksand', sans-serif !important
}

.image-upload-flow-popup.user_details .yotpo-modal-content .yotpo-modal-title {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-video-container .video-status-line .video-status .status-text {
    font-family: 'Quicksand', sans-serif !important
}

.yotpo-video-container .video-status-line .video-status .live-duration {
    font-family: 'Quicksand', sans-serif !important
}

.playkit-bottom-bar .playkit-left-controls .playkit-time-display span {
    font-family: 'Quicksand', sans-serif !important
}

.playkit-player .playkit-time-display {
    font-family: 'Quicksand', sans-serif !important
}

@media only screen and (max-width: 769px) {
    .mobile-filters-modal .mobile-filters-footer-btn .footer-text {
        font-family:'Quicksand', sans-serif !important
    }

    .yotpo.yotpo-add-to-cart-popup .yotpo-modal-base .yotpo-modal-dialog .yotpo-confirm-product-price,.yotpo.yotpo-add-to-cart-popup .yotpo-modal .yotpo-modal-dialog .yotpo-confirm-product-price {
        font-family: 'Quicksand', sans-serif !important
    }

    .yotpo.yotpo-add-to-cart-popup .yotpo-modal-base .yotpo-modal-dialog .yotpo-confirm-product-price,.yotpo.yotpo-add-to-cart-popup .yotpo-modal .yotpo-modal-dialog .yotpo-confirm-product-price {
        font-family: 'Quicksand', sans-serif !important
    }

    .yotpo.yotpo-add-to-cart-popup .yotpo-modal-base .yotpo-modal-dialog .yotpo-confirm-product-price,.yotpo.yotpo-add-to-cart-popup .yotpo-modal .yotpo-modal-dialog .yotpo-confirm-product-price {
        font-family: 'Quicksand', sans-serif !important
    }
}
