
<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="grid upper-grid-collection">
      <div class="upper-part-lifestyle-image-and-review">
        <div class="grid__item medium-up--three-quarters lifestyle-image">
          {% section 'collection-lifestyle-image' %}
        </div>
        <div class="grid__item medium-up--one-quarter collection-review-section">
          {% section 'collection-review' %}
        </div>
      </div>
    </div>
    <div class="page-width">
      <div class="grid lower-grid-collection">
        <div class="dropdown-size-color-fabric-section">
          {% section 'collection-dropdown' %}
        </div>
        <div class="cover-products-section">
          {% section 'collection-products' %}
        </div>
    </div>
  </div>
</div>

		
