<div class="page-width page-content">

  {%- include 'breadcrumbs' -%}

	<div class="grid mb-5">
      <article class="grid__item widescreen--six-tenths widescreen--push-two-tenths medium-up--two-thirds medium-up--push-one-sixth article">

        <header class="section-header">
          <h1 class="section-header__title">{{ page.title }}</h1>
        </header>

        <div class="rte rte--nomargin">
          {{ page.content }}
        </div>

      </article>
  	</div>

</div>
